.block-blue-lists {
  font-size: 20px;

  &-title {
    margin-bottom: 30px;
    font-size: 26px;
    color: $color-gold-yellow;
    line-height: 1;
  }

  ul {
    font-weight: 300;

    li {
      margin-bottom: 24px;

      a {
        display: block;
        color: $color-copy-inverted;
        transition: color transform $transition-duration-default;

        > span {
          padding-left: 16px;
          position: relative;

          &::before {
            content: "•";
            position: absolute;
            left: 0;
            top: 0;
            color: $color-gold-yellow;
            transition: color transform $transition-duration-default;
          }
        }
      }
    }
  }

  &.without-links {
    ul {
      li {
        color: $color-copy-inverted;
        padding-left: 16px;
        position: relative;

        &::before {
          content: "•";
          position: absolute;
          left: 0;
          top: 0;
          color: $color-gold-yellow;
          transition: color transform $transition-duration-default;
        }
      }
    }
  }
}
