.comment-otzyvy-o-prodavce-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  > div {
    width: 100%;

    @media screen and (min-width: $break-l) {
      &.field--name-field-comment-name,
      &.field--name-field-comment-email,
      &.field--name-field-comment-phone,
      &.field--name-field-comment-dignity,
      &.field--name-field-comment-limitations {
        width: 30%;

        > div {
          position: relative;

          &::before {
            @include icon('user');
            position: absolute;
            left: 10px;
            top: 50%;
            color: #b8b8b8;
            font-size: 40px;
            transform: translateY(-50%);
          }

          input[type=text],
          input[type=email] {
            padding-left: 58px;
          }
        }
      }

      &.field--name-field-comment-phone > div {
        &::before {
          @include icon('mobile');
        }
      }

      &.field--name-field-comment-email > div {
        &::before {
          @include icon('email-2');
        }
      }

      &.field--name-field-comment-review {
        > div {
          position: relative;

          &::before {
            @include icon('forma');
            position: absolute;
            left: 10px;
            top: 50%;
            color: #b8b8b8;
            font-size: 40px;
            transform: translateY(-50%);
          }

          textarea {
            background: #f4f6f9;
            font-size: 18px;
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: 58px;
          }
        }
      }

      &.field--name-field-comment-dignity {
        width: 48%;

        > div {
          &::before {
            content: '+';
            top: 46%;
          }
        }
      }

      &.field--name-field-comment-limitations {
        width: 48%;

        > div {
          &::before {
            content: '–';
            top: 46%;
          }
        }
      }
    }

    input[type=text],
    input[type=email] {
      height: 74px;
      line-height: 74px;
      background: #f4f6f9;
      font-size: 18px;
    }
  }

  .form-actions {
    text-align: center;
  }

  .field--type-starrating {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    > div {
      margin-top: 0;
    }

    label {
      font-size: 22px;
      font-weight: 300;
      text-align: center;
    }
  }

  .g-recaptcha {
    margin: 0 auto;
  }
}