[id="webform_submission_zakazat_obratnyi_zvonok_add_form-ajax"] {
  max-width: 502px;
  margin: 0 auto;

  .form-item {
    margin-bottom: 28px;

    input[type=text] {

      height: 74px;
      line-height: 74px;
      background: #f4f6f9;
      font-size: 18px;
    }

    &.js-form-item-name,
    &.js-form-item-phone {
      position: relative;

      &::before {
        @include icon('user');
        position: absolute;
        left: 10px;
        top: 50%;
        color: #b8b8b8;
        font-size: 40px;
        transform: translateY(-50%);
      }

      input[type=text] {
        padding-left: 58px;
      }
    }

    &.js-form-item-phone {
      &::before {
        @include icon('mobile');
      }
    }
  }

  .form-actions {
    text-align: center;
  }

  .g-recaptcha {
    margin: 0 auto;
  }
}