.node--type-company.node--view-mode-table {
  display: flex;
  min-height: 82px;
  flex-direction: column;

  @media screen and (min-width: $break-width-mini) {
    flex-direction: row;
  }

  > .company-column {
    padding: $spacing-minor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;

    @media screen and (min-width: $break-m) {

      &:not(:last-child)::after {
        width: 1px;
        height: 70%;
        position: absolute;
        right: 0;
        top: 50%;
        content: '';
        background-color: $color-gold-yellow;
        transform: translateY(-50%);
      }
    }

    &-name {
      position: relative;
      padding-left: 50px;

      @media screen and (min-width: $break-width-mini) {
        width: calc(100% - #{$links-width});
      }

      @media screen and (min-width: $break-m) {
        width: 40%;
      }

      @media screen and (min-width: $break-l) {
        padding-left: 100px;
        width: 45%;
      }

      .field--name-node-title {
        font-size: $font-size-large;
        font-weight: bold;
        margin-bottom: 8px;
      }

      .one-line-desc {
        > div {
          display: inline-block;
          font-size: 17px;
          font-weight: 300;

          &:not(:last-child) {
            margin-right: 3px;
            &:after {
              content: ",";
              margin-left: -2px;
            }
          }

          .field-label-inline {
            color: $color-copy;
          }
        }
      }

      .okved {
        font-size: 17px;
        font-weight: 300;

        .field-label-inline {
          color: $color-copy;
        }

        .field-items {
          > span:not(:first-child) {
            display: none;
          }
        }
      }

      .field--name-field-user-visible-name {
        display: flex;
        flex-wrap: wrap;
        font-size: 17px;
        font-weight: 300;

        .field__label {
          color: $color-copy;
          margin-right: 5px;
        }
      }

      .field--name-user {
        display: none;

        @media screen and (min-width: $break-m) {
          display: block;
        }

        > div {
          display: flex;
          align-items: center;

          .field--name-user-full-name-link {
            margin-right: $spacing-minor;
            max-width: calc(100% - 40px);
          }

          .field--name-user-raiting {
            font-size: $font-size-small;
          }
        }
      }
    }

    &-desc {
      display: none;
      width: 100%;
      text-align: center;

      @media screen and (min-width: $break-m) {
        display: flex;
        width: 19%;
      }

      @media screen and (min-width: $break-l) {
        width: 17%;
      }

      .field--name-field-company-bank-account {
        display: flex;
        flex-direction: column;
        color: $color-rolling-stone;

        > div {
          display: block;

          &:not(:last-child) {
            margin-right: 4px;

            &:after {
              content: ",";
            }
          }

          &:first-child {
            &:after {
              content: "";
            }
          }

          &.field__label {
            display: block;
            color: $color-copy;
          }
        }
      }
    }

    &-region {
      display: none;
      text-align: center;
      font-size: 17px;
      text-transform: uppercase;
      width: 100%;

      @media screen and (min-width: $break-m) {
        display: flex;
        width: 16%;
      }

      @media screen and (min-width: $break-l) {
        width: 18%;
      }
    }

    &-links {
      text-align: center;
      padding-top: 0;

      @media screen and (min-width: $break-width-mini) {
        width: $links-width;
        padding-top: $spacing-minor;
        text-align: right;
      }

      @media screen and (min-width: $break-m) {
        width: 25%;
      }

      @media screen and (min-width: $break-l) {
        width: 20%;
      }

      .field-name-field-company-price {
        font-size: 21px;
        font-weight: bold;
      }

      a {
        @extend %button;
        min-width: 100px;
        text-transform: none;

        @media screen and (min-width: $break-l) {
          padding: 13px 42px;
        }
      }
    }

  }
}
