.owl {
  &-stage {
    position: relative;

    &-outer {
      position: relative;
      overflow: hidden;
      transform: translate3d(0, 0, 0);
    }
  }

  &-item {
    min-height: 1px;
    float: left;
    backface-visibility: hidden;
    -webkit-touch-callout: none;
    transform: translate3d(0, 0, 0);

    picture {
      display: flex;
      align-items: flex-start;
    }

    // for testing purpose
    .dev & > * {
      @extend %h2;

      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      color: $color-copy-inverted;
    }
  }

  &-prev,
  &-next {
    cursor: pointer;

    span {
      @include size(54px);
      font-size: 0;
      position: relative;
      display: block;

      &::before {
        @extend %icon-font;
        @extend %center;
        font-size: 1rem;
      }
    }
  }

  &-prev span::before {
    @include icon-content('left-dir');
  }

  &-next span::before {
    @include icon-content('right-dir');
  }

  &-nav {
    &.disabled {
      display: none;
    }

    .slider-manual & {
      display: flex;
      background: $color-copy;
      color: $color-copy-inverted;
      justify-content: space-between;
      position: absolute;
      z-index: 20;
      min-width: 135px;

      .owl-prev,
      .owl-next {
        flex-grow: 1;
      }
    }
  }

  &-pos {
    display: flex;
    align-items: center;
    font-size: $font-size-minor;

    span {
      &:first-child {
        margin-right: .125em;
      }

      &:last-child {
        margin-left: .125em;
      }
    }
  }

  &-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: center;

    &.disabled {
      display: none;
    }
  }

  &-dot {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    position: relative;
    zoom: 1;
    background: $color-copy;

    span {
      font-size: $font-size-minor;
      display: flex;
      align-items: center;
      justify-content: center;
      backface-visibility: visible;
      transition: opacity .2s ease;
      color: $color-copy-inverted;
      width: 54px;
      height: 30px;
      position: relative;
      z-index: 1;
    }

    .progress {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      z-index: 0;
      background-color: $color-main;
    }

    &:nth-child(n+2) {
      margin-left: 3px;
    }
  }
}

.slider-manual {
  position: relative;

  &.single {
    + select {
      position: absolute;
      transform: translateY(-100%);
    }

    .owl-nav {
      top: 0;
      right: 0;

      &.disabled {
        display: none;
      }
    }

    &.nav-top-left .owl-nav {
      right: auto;
      left: 0;
    }

    &.nav-bottom-right .owl-nav {
      top: auto;
      bottom: 0;
    }
  }

  &.multiple {
    .owl-nav {
      @include break-m {
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
      }
    }

    .owl-stage-outer {
      @include break-m {
        width: 75%;
        left: 25%;
        overflow: hidden;
      }
    }
  }
}