.paragraph--type--statistics {
  @extend %layout-container;

  border-top: 3px solid $color-gold-yellow;
  padding-top: 30px;
  background: rgba($color-copy, .46);

  .element-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;

    @include break-l {
      padding-left: 80px;
    }
  }

  &.statistics-multiple {
    > .element-container > div {
      width: 100%;

      &:first-child {
        margin-bottom: 15px;
      }

      @include break-l {
        width: 48%;

        &:first-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
