.paragraph--type--formatted-text {
  padding: 0 $page-side-spacing;
  margin: 0 auto;

  &.text-on-image {
    max-width: 720px;
  }

  @media screen and (min-width: $break-l) {
    padding: 0;
  }

  &.text-align-center {
    text-align: center;
  }

  &.text-on-image {
    color: $color-copy-inverted;
    text-align: center;
  }

  a.button {
    position: relative;
    padding-right: 90px;
    padding-left: 38px;
    font-size: 22px;
    border-color: $color-copy-inverted;
    color: $color-copy-inverted;

    &:hover {
      color: $color-copy;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 50px;
      width: 1px;
      height: 100%;
      background-color: $color-copy-inverted;
    }

    &::after {
      @include icon('right');
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
    }
  }
}