.paragraph--type--companies {
  margin-bottom: 30px;

  .view-header {
  }

  .views-exposed-form {
    .form-composite {
      legend {
        display: none;
      }

      .form-radios {
        justify-content: space-around;
      }
    }

    > div {
      > .form-item-field-company-date-value,
      > .form-item-field-company-date-value-1,
      > .form-item-field-company-price-value,
      > .form-item-field-company-price-value-1 {
        @media screen and (min-width: $break-m) {
          @include grid-span(3);
        }
      }

      > .form-item-field-company-okved-target-id {
        @media screen and (min-width: $break-m) {
          @include grid-span(12);
        }
      }

      > .form-item-field-bank-target-id {
        &.disabled {
          display: none;
        }
      }

    }
  }

  .view-content {
    border: 3px solid $color-gold-yellow;
    border-top: none;
    background: $color-table-bg;
    position: relative;

    .views-infinite-scroll-content-wrapper {
      margin-top: -$download-favorites-height;

      > div {
        &:nth-child(even) {
          background: $color-copy-inverted;
        }
      }
    }

    .download-favorites {
      position: sticky;
      top: 9px;
      left: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $download-favorites-width;
      height: $download-favorites-height;
      border: 2px solid $color-gold-yellow;
      background: transparent;
      z-index: 20;
      margin-bottom: 18px;
      transform: translate(9px, 8px);

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }

      &::before {
        @include icon('xls');
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: $color-chateau-green;
      }

      span {
        width: 90px;
      }
    }

  }

  .pager {
    margin-top: 15px;
    text-align: center;

    .pager__item {
      padding: 0;

      .button {
        text-transform: none;
      }
    }
  }
}