.paragraph--type--space {
  margin-bottom: $space-small-s;

  @include break-m {
    margin-bottom: $space-small-m;
  }

  @include break-l {
    margin-bottom: $space-small-l;
  }

  &.space-type-middle {
    margin-bottom: $space-medium-s;

    @include break-m {
      margin-bottom: $space-medium-m;
    }

    @include break-l {
      margin-bottom: $space-medium-l;
    }
  }

  &.space-type-big {
    margin-bottom: $space-large-s;

    @include break-m {
      margin-bottom: $space-large-m;
    }

    @include break-l {
      margin-bottom: $space-large-l;
    }
  }
}
