.paragraph--type--updates {
  @extend %layout-container;

  > .field--name-field-text {
    @extend %title-center;
  }

  .field--name-dynamic-block-fieldparagraph-blok {
    background: $color-bg-dark;
    border-top: 3px solid $color-gold-yellow;
    border-bottom: 3px solid $color-gold-yellow;
    padding-top: 20px;

    .view-content {
       ul {

         li {
           max-width: $container-element-width-max;
           margin: 0 auto;
           padding: 0 15px;
           font-size: 19px;
           font-weight: 300;
           line-height: 1;
           color: $color-copy-inverted;

           &:nth-child(odd) {
             background: $color-bg-dark-odd-row;
           }

           &:first-child {
             position: relative;

             &::before {
               position: absolute;
               top: -20px;
               left: 15px;
               width: 130px;
               height: 20px;
               background-color: rgba($color-copy, .64);
               content: '';
             }
           }

           > div {
             display: flex;

             > div {

               &.field--name-field-company-status-date {
                 width: 130px;
                 padding: 24px 5px;
                 display: flex;
                 flex: 0 0 130px;
                 align-items: center;
                 justify-content: center;
                 background-color: rgba($color-copy, .64);
                 font-size: 15px;
                 text-transform: uppercase;
               }
               &.field--name-company-update {
                 padding: 24px 0 24px 34px;
                 color: $color-gold-yellow;

                 a {
                   color: $color-gold-yellow;
                   text-decoration: underline;

                   &:hover {
                     text-decoration: none;
                   }
                 }
               }
             }
           }
         }
       }
    }

    .pager {
      border-top: 2px solid $color-gold-yellow;
      padding: 15px 0;
      text-align: center;

      .button {
        color: $color-copy-inverted;
      }
    }
  }

  .download-favorites {
    display: none;
  }
}
