.paragraph--type--blog {

  &.blog-type-block-blog-mini,
  &.blog-type-block-blog-page {
    @extend %element-container;
    padding-right: $page-side-spacing;
    padding-left: $page-side-spacing;

    > .field--name-field-text {
      @extend %title-center;
    }
  }

  > div {
    max-width: $page-width-max;
    margin: 0 auto;
  }

  .view-display-id-block_blog_mini,
  .view-display-id-block_blog_page {
    > .view-content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      @media screen and (min-width: $break-l) {
        justify-content: space-between;
      }

      > .group-rows {
        max-width: 555px;
        width: 100%;

        &.attachment-before {
          border-bottom: 1px solid $color-copy-inverted;
        }

        > .views-row {
          .node--type-blog {
            display: flex;
            flex-direction: column;

            @media screen and (min-width: $break-m) {
              flex-direction: row;
            }
          }

          &:nth-child(odd) {
            .node--type-blog {

              @media screen and (min-width: $break-m) {
                flex-direction: row-reverse;
              }
            }
          }
        }
      }
    }
  }
}
