.paragraph--type--header-image {
  position: relative;
  margin-top: -$spacing-default;
  margin-bottom: $spacing-default;

  .field--name-field-media-image {
    position: relative;

    img {
      display: flex;

      @include break-l {
        width: 100%;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $color-black;
      opacity: .4;
      transition: opacity .5s 0s ease-in-out;
    }
  }

  .header-image-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: $spacing-default;
    display: flex;
    align-items: center;

    .field--name-field-formatted-text {
      @extend %layout-container;
      padding: $spacing-default;
      color: $color-copy-inverted;

      .topline {
        &:after {
          background: $color-copy-inverted;
        }
      }
      p {
        font-size: 20px;
      }
    }
  }
}