.site-main--nav {
  @extend %layout-container;
  padding-left: $page-side-spacing;
  margin: 0 auto 30px;
  display: flex;
  justify-content: flex-end;

  .block-regportal-contacts {
    margin: 20px 10px;
  }
}

.user-logged-in {
  .site-main--nav {
    .block-regportal-contacts {
      display: flex;
      flex-direction: column;

      @include break-m {
        flex-direction: row;
      }
    }
  }
}
