.webform-submission-form {
  .webform-confirmation {
    padding: 20px;
    margin-top: 10px;
    color: white;
    opacity: 0.83;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    background-color: #4CAF50;

    > div {
      margin-bottom: 0;
    }
  }
}