.webform-submission-zakazat-obratnyi-zvonok-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .js-form-item-name,
  .js-form-item-phone {
    width: 48%;
  }

  .messages {
    width: 100%;
  }

}