.better-messages-overlay {
  width: 60%;
  padding: 0 !important;
  position: relative;
  border: none !important;
  border-radius: 0 !important;
  background: none !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5) !important;

  .better-messages-footer {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .better-messages-close {
    position: absolute;
    top: 0;
    right: 5px;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;

    span {
      text-indent: 0;
      background: none !important;

      &::before {
        @include icon('close');
        color: $color-copy-inverted !important;
        transition: transform $transition-duration-default;
      }

      &:hover {
        &::before {
          transform: rotate(180deg);
        }
      }
    }
  }
}