[id="block-regportal-branding"] {
  a {
    display: flex;
    align-items: center;
  }

  .site-header & {
    margin: 0 .4575em; // approx (a little more) the height of the letter N in saint gobain
  }
}
