.fstElement {
  border-color: $color-border-input;
  padding: 0;
  width: 100%;

  .fstControls {
    padding: 7px 15px 10px 25px;
    width: 100%;
  }

  .fstQueryInput {
    padding: 5px 0 0;
    color: $color-copy;
    margin: 0;
    font-size: $font-size-default;
    font-weight: $font-weight-light;
  }

  .fstResults {
    .fstResultItem {
      font-size: $font-size-default;
      font-weight: $font-weight-light;
      color: $color-copy;
    }
  }

  .fstChoiceItem {
    padding: 0 5px 0 18px;
    margin: 0 5px 0 0;
    font-size: $font-size-minor;
    font-weight: $font-weight-light;
    height: 30px;
    line-height: 30px;
  }
}
