.node--type-company.node--view-mode-full .flag-favorites {
  min-width: 220px;

  @media screen and (min-width: $break-l) {
    margin-left: auto;
  }

  a {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 300;
    color: $color-gold-yellow;
    line-height: 1.2;

    &:hover {
      text-decoration: none;
    }
  }
}

.node--type-company.node--view-mode-table .flag-favorites {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  @media screen and (min-width: $break-l) {
    left: 55px;
  }

  a {
    span {
      &:first-child {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
          @include icon('star-empty');
          font-family: $icon-font-family;
          font-size: 30px;
          color: $color-gold-yellow;
        }
      }

      &:last-child {
        visibility: hidden;
        width: 120px;
        background-color: $color-gold-yellow;
        color: $color-copy;
        text-align: center;
        border-radius: 10px;
        padding: 5px 0;
        position: absolute;
        top: 0;
        left: 32px;
        z-index: 1;
      }
    }



    &:hover,
    &:active,
    &:focus {
      text-decoration: none;

      span:last-child {
        visibility: visible;
      }
    }
  }

  &.action-unflag {
    a span:first-child::before {
      @include icon('star');
    }
  }
}
