.form-radios,
.form-checkboxes {
  display: flex;
  margin: 6px 0;
  flex-wrap: wrap;
  flex-direction: column;

  @media screen and (min-width: $break-m) {
    flex-direction: row;
  }

  > .form-item {
    margin: 0;

    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }

    label {
      position: relative;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
      padding-left: 36px;
      padding-right: 10px;
      line-height: 36px;
      cursor: pointer;
      color: $color-vetrotech-blue;
      z-index: 2;
    }

    label::before {
      content: " ";
      position: absolute;
      top: 4px;
      left: 0;
      display: block;
      width: 24px;
      height: 24px;
      border: 2px solid $color-gold-yellow;
      z-index: -1;
    }

    input[type="radio"] + label::before {
      border-radius: 18px;
    }

    /* Checked */
    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
      color: $color-copy;
    }

    input[type="checkbox"]:checked + label::before,
    input[type="radio"]:checked + label::before {
      background: $color-gold-yellow;
    }

    /* Transition */
    label,
    label::before {
      -webkit-transition: .25s all ease;
      -o-transition: .25s all ease;
      transition: .25s all ease;
    }

    &:last-child {
      label {
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}
