.grid {
  &-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @include break-l {
      flex-wrap: nowrap;
    }
  }

  // generate item-span classes based on grid-size
  &-item {
    @each $grid-size, $gsd in $grid-setup {
      @for $i from 1 through $grid-columns-max {
        &-#{$grid-size}-#{$i} {
          @media screen and (min-width:map-get($gsd, 'break') ) {
            @include grid-span($i, $gutter: map-get($gsd, 'gutter'));
          }
        }
      }
    }
  }

  &-test [class*="grid-item-"] {
    display: flex;
    height: 50px;
    margin-top: 1em;
    background-color: $color-border-default;
    align-items: center;
    justify-content: center;
  }
}

.hide {
  &-s {
    @media screen and (max-width: $break-m - 1) {
      display: none;
    }
  }
  &-m {
    @media screen and (min-width: $break-m) and (max-width: $break-l - 1) {
      display: none;
    }
  }
  &-l {
    @include break-l {
      display: none;
    }
  }
}

[class*="grid-item-"] {
  &.left {
    @each $grid-size, $gsd in $grid-setup {
      @for $i from 0 through ($grid-columns-max - 1) {
        &-#{$grid-size}-#{$i} {
          @media screen and (min-width:map-get($gsd, 'break') ) {
            $g: map-get($gsd, 'gutter');
            $w: 0;
            @if $i > 0 {
              $w: grid-span-width($i, $gutter: $g) + $g;
            }
            margin-left: $w;
          }
        }
      }
    }
  }
}
