.horizontal-tabs {
  border: none;
  display: flex;
  flex-direction: column;

  ul.horizontal-tabs-list {
    background: none;
    border: none;

    .horizontal-tab-button {
      background: none;
      border: none;
      padding: 0;
      margin-right: 3px;

      a {
        min-width: 170px;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 24px;
        font-size: 19px;
        transition: all $transition-duration-default;

        strong {
          font-weight: 300;
        }

        &:hover {
          background-color: $color-gold-yellow;
        }
      }

      &.selected {
        a {
          display: flex;
          padding: 0 24px;
          background-color: $color-gold-yellow;
        }
      }
    }
  }

  .horizontal-tabs-panes {
    border: 2px solid $color-gold-yellow;
    border-top-width: 4px;

    details {
      margin: 0;
      padding: 0;

      .details-wrapper {
        padding: 0;
      }
    }
  }
}
