.regportal-contacts {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 20px 15px;
  margin-bottom: 11px;
  font-size: $font-size-contacts-default;
  color: $color-copy-inverted;
  background-color: $color-contacts;
  transition: $transition-duration-default ease all;

  body.fixed & {
    position: fixed;
    z-index: 100;
    top: 104px;
    right: -100%;

    .regportal-contacts-hide {
      display: block;
    }
  }

  body.fixed.show-contacts & {
    right: 10px;
  }

  @include break-m {
    flex-direction: row;
    width: 580px;
  }

  a {
    color: $color-copy-inverted;
    display: block;

    :hover {
      color: $color-gold-yellow;
      text-decoration: none;
    }
  }

  .regportal-contacts-hide {
    display: none;
    position: absolute;
    top: 7px;
    right: 7px;
    color: $color-gold-yellow;
    cursor: pointer;

    &::before {
      @include icon('close');
      font-family: $icon-font-family;
      font-size: 20px;
      display: flex;
      width: 20px;
      height: 20px;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      transition: transform $transition-duration-default;
    }

    &:hover {
      &:before {
        transform: rotate(180deg);
      }
    }
  }

  > div {
    display: flex;
    position: relative;
    padding-left: 50px;
    align-items: center;
    height: 40px;
    margin-bottom: 8px;
    line-height: 1;

    @include break-m {
      margin-bottom: 3px;
    }

    &.regportal-contacts-email {
      @include standard-icon('email-2');
    }

    &.regportal-contacts-phone {
      @include standard-icon('phone');
      flex-direction: column;
      align-items: flex-start;

      .regportal-contacts-phone-number {
        display: flex;
        padding-top: 3px;
        font-size: 22px;

        a {
          text-decoration: underline;

          &:hover {
            text-decoration: none ;
          }
        }
      }

      .regportal-contacts-phone-desc {
        display: flex;
        padding-top: 17px;
        font-size: 15px;
        font-weight: 300;
      }
    }

    &.regportal-contacts-telegram {
      @include standard-icon('telegram');
    }

    &.regportal-contacts-order-call {
      padding-right: 10px;
      font-size: 15px;
      font-weight: 300;

      a {
        color: $color-gold-yellow;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.user-logged-in {
  .regportal-contacts {
    flex-direction: column;
    width: 270px;
    padding-top: 15px;
    margin-bottom: 7px;

    @include break-m {
      height: 124px;
    }

    > div {
      font-size: 20px;
      height: 26px;

      &:before {
        width: 26px;
        height: 26px;
        font-size: 26px;
      }
    }

    .regportal-contacts-email {
      order: 2;
    }

    .regportal-contacts-phone {
      order: 1;

      .regportal-contacts-phone-desc {
        display: none;
      }
    }

    .regportal-contacts-order-call {
      display: none;
    }

    .regportal-contacts-telegram {
      order: 3;
    }
  }
}

.regportal-user-info {
  position: relative;
  height: 194px;
  padding: 18px 22px 14px;
  margin-bottom: 7px;
  color: $color-copy-inverted;
  background-color: $color-contacts;

  @include break-m {
    margin-bottom: 0;
    margin-right: 22px;
    width: 392px;
  }

  .user-logout {
    position: absolute;
    top: 10px;
    right: 13px;
    color: $color-burnt-sienna;
    font-size: $font-size-small;
    text-transform: uppercase;

    &::before {
      @include icon('exit');
      margin-right: 5px;
      font-size: 15px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .user-picture {
      display: block;
      margin-right: 15px;
      text-align: center;

      img {
        display: block;
        border: 2px solid $color-copy-inverted;
        border-radius: 50%;
      }

      span {

        &::after {
          @include icon('profile');
          font-size: 55px;
        }
      }

      &:hover {
        text-decoration: none;
      }
    }

    .user-full-name {
      font-size: 24px;
    }
  }

  &-counts {
    font-size: $font-size-big;

    > div {

      &:first-child {
        margin-bottom: 10px;
      }

      a {
        color: $color-gold-yellow;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  a {
    color: $color-copy-inverted;
  }
}

.regportal-user-bag {
  width: 270px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-copy-inverted;
  background-color: $color-contacts;

  a {
    text-decoration: none;
    color: $color-copy-inverted;

    &:hover {
      text-decoration: none;
      color: $color-copy-inverted;
    }
  }

  .regportal-user-bag-price {
    margin-right: 14px;
    display: flex;
    align-items: center;

    &::before {
      @include icon('basket');
      margin-right: 20px;
      font-size: 36px;
      color: $color-gold-yellow;
    }
  }

  .regportal-user-bag-counts {
    a {
      display: block;
      padding: 10px;
      color: $color-copy;
      background-color: $color-gold-yellow;
      transition: all $transition-duration-default ease-in-out;

      &:hover {
        background-color: $color-copy-inverted;
        text-decoration: none;
      }
    }
  }
}

.regportal-user-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.regportal-auth-section {
  display: flex;
  justify-content: flex-end;

  a {
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-contacts;
    color: $color-copy-inverted;
    transition: all $transition-duration-default ease-in-out;

    &:hover {
      background-color: $color-gold-yellow;
      color: $color-copy;
      text-decoration: none;
    }

    &::before {
      @include icon('enter');
      margin-right: 14px;
      font-size: $font-size-large;
    }

    &.link-login {
      width: 150px;
    }

    &.link-register {
      width: 219px;

      &::before {
        @include icon('user');
      }
    }
  }
}

.regportal-contacts-show {
  position: fixed;
  right: 10px;
  padding: $spacing-minor;
  z-index: 100;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: pointer;
  color: $color-copy;
  background-color: $color-gold-yellow;
  transition: $transition-duration-default all ease;

  body.fixed & {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: .7;
    top: 104px;

    &:hover {
      opacity: 1;
      zoom: 1;
      text-decoration: none;
    }
  }

  body.fixed.show-contacts & {
    right: -100%;
  }

  &::after {
    @include icon('to-top');
    display: inline-block;
    margin-left: 10px;
    font-size: $font-size-small;
    vertical-align: middle;
    transform: rotate(90deg);
  }
}

body.fixed.toolbar-horizontal {
  .regportal-contacts,
  .regportal-contacts-show{
    top: 140px;
  }

  &.toolbar-tray-open {
    .regportal-contacts,
    .regportal-contacts-show {
      top: 184px;
    }
  }
}

