.regportal-contacts-footer {
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size-contacts-default;
  color: $color-copy-inverted;
  flex-direction: column;

  @media screen and (min-width: $break-m) {
    justify-content: space-around;
    flex-direction: row;
  }

  @media screen and (min-width: $break-l) {
    justify-content: space-between;
  }

  a {
    color: $color-copy-inverted;
    display: block;

    :hover {
      color: $color-gold-yellow;
      text-decoration: none;
    }
  }

  > div {
    display: flex;
    position: relative;
    padding-left: 50px;
    align-items: center;
    height: 40px;
    margin-bottom: 3px;
    line-height: 1;
    margin-right: $spacing-minor;

    &.regportal-contacts-email {
      @include standard-icon('email-2');

      @media screen and (max-width: $break-m - 1) {
        order: 1;
      }
    }

    &.regportal-contacts-phone {
      @include standard-icon('phone');
      flex-direction: column;
      align-items: flex-start;

      @media screen and (max-width: $break-m - 1) {
        order: 3;
      }

      .regportal-contacts-phone-number {
        display: flex;
        padding-top: 3px;
        font-size: 22px;
      }

      .regportal-contacts-phone-desc {
        display: flex;
        padding-top: 17px;
        font-size: 15px;
        font-weight: 300;
      }
    }

    &.regportal-contacts-telegram {
      @include standard-icon('telegram');

      @media screen and (max-width: $break-m - 1) {
        order: 2;
      }
    }

    &.regportal-contacts-order-call {
      padding-right: 10px;
      font-size: 15px;
      font-weight: 300;
      margin-right: 0;

      @media screen and (max-width: $break-m - 1) {
        order: 4;
      }

      a {
        color: $color-gold-yellow;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &.regportal-contacts-working-hours {
      padding-left: 0;
      margin: 0;
      font-size: $font-size-big;
    }
  }
}
