.site-main--header {
  margin-bottom: $spacing-default;
  background-size: cover !important;

  @media screen and (min-width: $break-l) {
    background-size: auto !important;
  }

  .field--name-field-header {
    > .field__label {
      display: none;
    }
  }
}
