.site-main--left {
  $icon-space-left: 10px;

  background-color: $color-sidebar;

  .nav-toggle {
    @extend %nav-toggle;
  }

  .block-regportal-user-role-name {
    padding: 18px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $color-copy-inverted;
    transition: all $transition-duration-default ease-in-out;

    span {
      margin: 0 5px;
      color: $color-gold-yellow;
    }

    + .menu--account {
      margin-top: 0;
    }

    @media screen and (max-width: $break-sidebar) {
      text-indent: -9999px;
    }
  }

  .menu--account {
    margin-top: 56px;
  }

  .menu {

    li {
      a {
        display: block;
        padding: 18px 20px 18px $sidebar-width-close;
        position: relative;
        color: $color-copy-inverted;
        transition: all $transition-duration-default ease-in-out;

        &.is-active {
          color: $color-copy;
          background-color: $color-gold-yellow;

          &::before {
            color: $color-copy;
          }
        }

        &:hover {
          text-decoration: none;
          color: $color-copy;
          background-color: $color-gold-yellow;

          &::before {
            color: $color-copy;
          }
        }

        &::before {
          @include icon('info');
          position: absolute;
          left: $icon-space-left;
          top: 50%;
          font-size: 30px;
          color: $color-copy-inverted;
          transform: translateY(-50%);
          transition: all $transition-duration-max ease-in-out;
        }

        &.link-register {
          &::before {
            @include icon-content('user');
          }
        }

        &.link-user-edit {
          &::before {
            @include icon-content('pencil');
          }
        }

        &.link-logout {
          &::before {
            @include icon-content('logout');
          }
        }

        &.link-login {
          &::before {
            @include icon-content('login');
          }
        }

        &.link-orders {
          &::before {
            @include icon-content('basket');
          }
        }

        @media screen and (max-width: $break-sidebar) {
          text-indent: -9999px;

          &::before {
            text-indent: 0;
            left: auto;
            right: 0;
            width: 56px;
            text-align: center;
          }
        }
      }
    }
  }

  @media screen and (max-width: $break-sidebar) {
    &.open {

      .menu li a {
        text-indent: 0;

        &::before {
          right: auto;
          left: $icon-space-left;
          width: auto;
        }
      }

      .block-regportal-user-role-name {
        padding-right: 44px;
        text-indent: 0;
      }
    }
  }
}
