.ui-dialog {
  width: 100% !important;
  max-width: 1025px;
  left: 50% !important;
  border-radius: 0;
  border: none !important;
  transform: translateX(-50%);

  .ui-dialog-titlebar {
    padding: $title-bar-vertical-padding $title-bar-horizontal-padding;
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    background-color: $color-titlebar-bg;
    color: $color-copy-inverted;

    .ui-button {
      outline: none;
      padding: 0;
      margin: 0;
      top: 22px;
      right: 25px;
      border: none;
      background: transparent;

      .ui-icon {
        background: none;
        text-indent: 0;
        width: auto;
        height: auto;


        &:before {
          @include icon('close');
          font-family: $icon-font-family;
          font-size: 30px;
          display: flex;
          width: 30px;
          height: 30px;
          justify-content: center;
          align-items: center;
          color: $color-gold-yellow;
          transition: transform $transition-duration-default;
        }

        &:hover {
          &:before {
            transform: rotate(180deg);
          }
        }
      }
    }

  }

  .ui-dialog-content {
    padding: 30px;
  }

  .ui-dialog-buttonpane {
    display: none;
  }

  &-order-call {
    max-width: 680px;

    .ui-dialog-titlebar {
      text-align: center;
    }

    .webform-confirmation {
      width: 100%;
    }
  }

  &-buy-company {
    border: none;
    background: none;
    padding-bottom: 35px;

    .ui-dialog-titlebar {
      background: transparent;
      padding: 0;
      border: none;

      .ui-button {
        top: 56px;
        right: 22px;
        z-index: 999;

        .ui-icon:before {
          color: $color-gold-yellow;
        }
      }
    }

    .ui-dialog-content {
      padding: 0;

      .group-content {
        padding-bottom: 20px;
      }
    }
  }
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: $font-family-default;
}

.ui-widget input.button {
  width: 100%;
  letter-spacing: normal;

  @include break-l {
    width: auto;
  }
}
