.user-register-page,
.user-login-page,
.user-reset-form-page,
.user-password-page,
.user-edit-page {
  div[id='block-regportal-content'] {
    max-width: calc(#{$container-element-width-max} - #{$sidebar-width-close});
    margin: 56px auto;
    background-color: $color-copy-inverted;

    form {
      max-width: 770px;
      width: 100%;
      margin: 0 auto;
      padding: 30px $spacing-default 15px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      @include break-m {
        flex-direction: row;
        justify-content: space-between;
      }

      .js-form-item:not(.js-form-type-managed-file):not(.js-form-type-password-confirm) {
        position: relative;

        &::before {
          @include icon('user');
          position: absolute;
          left: 20px;
          top: 50%;
          color: #b8b8b8;
          font-size: 36px;
          transform: translateY(-50%);
        }

        input[type=text],
        input[type=password],
        input[type=email] {
          font-size: $font-size-big;
          padding-left: 56px;
          padding-right: 32px;
          height: 75px;
          line-height: 75px;
        }

        &-pass {
          &::before {
            @include icon('lock');
          }
        }
      }

      &.user-register-form,
      &.user-form {
        div[id="edit-account"] {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          > .js-form-item:not(.js-form-type-password-confirm) {
            width: 100%;

            @include break-m {
              width: 48%;
            }

            &.js-form-type-email::before {
              @include icon-content('email-2');
              left: 13px;
            }
            &.js-form-type-password::before {
              @include icon-content('lock');
              left: 13px;
            }
          }

          .js-form-type-password-confirm {
            width: 100%;
            display: flex;
            flex-direction: column;

            @include break-m {
              flex-direction: row;
              justify-content: space-between;
            }

            .tooltip-icon {
              @media screen and (max-width: $break-m) {
                margin-top: -10px;
              }
            }

            .js-form-type-password {
              width: 100%;

              @include break-m {
                width: 48%;
              }

              &::before {
                @include icon-content('lock');
              }
            }
          }
        }

        > div.field--type-string {
          width: 100%;

          @include break-m {
            width: 48%;
          }

          .js-form-item-field-user-phone-0-value::before {
            @include icon-content('mobile');
          }
        }

        .field--type-image {
          width: 100%;

          input[type=submit] {
            font-size: 18px;
            padding: 0;
            border: none;

            &:hover {
              color: $color-gold-yellow;
              background: none;
            }
          }
        }

        .g-recaptcha {
          margin: 0 auto;
        }

      }

      &.user-login-form {
        .js-form-item {
          width: 100%;

          @include break-m {
            width: 48%;
          }
        }
      }

      &.user-pass-reset {
        display: block;
        text-align: center;
      }

      .js-form-type-email,
      .js-form-type-textfield,
      .js-form-type-password {
        label {
          display: none;
        }
      }


      .form-desc,
      p {
        font-size: $font-size-minor;
        color: $color-button;
      }

      .form-actions {
        width: 100%;
        text-align: center;

        input[type=submit] {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }
}
