.view-companies-filter {
  padding: 0 10px;

  @include break-l {
    padding: 0;
  }

  .view-filters {
    padding: 20px 14px;
    position: relative;
    background-color: $color-copy-inverted;
    border: 3px solid $color-gold-yellow;

    .filter-btn {
      display: block;

      @media screen and (min-width: $break-m) {
        display: none;
      }
    }

    form {
      margin-top: $spacing-minor;

      @media screen and (min-width: $break-m) {
        display: block !important;
        margin-top: 0;
      }

      > div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: $break-m) {
          flex-direction: row;
        }

        > .form-item {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-top: 0;

          @media screen and (min-width: $break-m) {
            &.form-item-title,
            &.form-item-field-company-region-target-id {
              width: 23%;
            }
            &.form-item-field-company-okved-target-id,
            &.form-item-uid {
              width: 51%;
            }
            &.form-item-field-company-reg-number-value,
            &.form-item-field-company-tax-number-value {
              width: 47.5%;
            }
          }
        }

        .form-elements-children {
          width: 100%;

          label {
            font-weight: bold;
            margin-bottom: 17px;
            display: block;
            padding-top: 7px;
          }


          &.form-elements-date,
          &.form-elements-price {

            > div {
              flex-direction: row;
            }

            .form-item {
              width: 44%;

              input[type=text] {
                padding: 0 12px;
              }
            }

            @media screen and (min-width: $break-m) {
              width: 48%;
            }

            @media screen and (min-width: $break-l) {
              width: 23%;
            }
          }

          > div {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            > span {
              margin: 8px 0 20px;
              font-weight: bold;
              font-size: 20px;
            }

            @media screen and (min-width: $break-m) {
              flex-direction: row;
            }
          }
        }

        .form-elements-account {
          width: 100%;

          @media screen and (min-width: $break-l) {
            width: 51%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
          }

          .fieldgroup {
            margin: 0;

            .form-radios {
              margin: 0;

              > div {
                margin-bottom: 10px;
              }

              label {
                margin-bottom: 0;
              }
            }
          }

          .form-item-field-bank-target-id {
            &.disabled {
              pointer-events: none;
              opacity: .4;
            }
          }
        }

        &.form-elements-tax {

          .form-radios {
            width: 51%;
            justify-content: space-around;
          }
        }

        &.form-actions {
          margin: 0;
          justify-content: flex-end;
        }
      }
    }

    &-additional-info {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      font-size: $font-size-minor;
      margin-top: 20px;

      @media screen and (min-width: $break-m) {
        position: absolute;
        bottom: 20px;
        left: 14px;
        margin-top: 0;
        width: calc(100% - 200px);
      }

      .report-title {
        width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
      }

      .total-rows {
        margin-right: 15px;

        span {
          font-weight: bold;
        }
      }

      .feed-icons {
        display: flex;

        a {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }

        &::before {
          @include icon('xls');
          color: $color-gold-yellow;
          margin-right: 10px;
          font-size: $font-size-large;
        }
      }
    }
  }
}
