{#
/**
 * @file
 * The default template file for e-mails.
 *
 * Available variables:
 * - subject: The subject.
 * - body: The message content.
 * - message: The $message array created and used in the mail building
 *   procedure. Its content varies between cases, but typically contains at
 *   least the following elements:
 *   - id: The message identifier.
 *   - module: The module that handles the building of the message.
 *   - key: The key of the message.
 *   - to: The recipient email address.
 *   - from: The email address of the sender.
 *   - langcode: The langcode to use to compose the e-mail.
 *   - params: The message parameters.
 *
 * This template may be overriden by module and/or mail key, using any of the
 * following template names:
 * - swiftmailer.html.twig: global, used by default.
 * - swiftmailer--mymodule.html.twig: only emails sent by the module "mymodule".
 * - swiftmailer--mymodule--test.html.twig: only emails by the module
 *   "mymodule" with key "test".
 *
 * @see template_preprocess()
 * @see template_preprocess_swiftmailer()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Copernica Marketing Software</title>
  <style type="text/css">
    * { margin: 0; padding: 0; font-size: 100%; font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; line-height: 1.65; }

    img { max-width: 100%; margin: 0 auto; display: block; }

    body, .body-wrap { width: 100% !important; height: 100%; background: #f8f8f8; }

    a { color: #71bc37; text-decoration: none; }

    a:hover { text-decoration: underline; }

    .text-center { text-align: center; }

    .text-right { text-align: right; }

    .text-left { text-align: left; }

    .button { display: inline-block; color: white; background: #71bc37; border: solid #71bc37; border-width: 10px 20px 8px; font-weight: bold; border-radius: 4px; }

    .button:hover { text-decoration: none; }

    h1, h2, h3, h4, h5, h6 { margin-bottom: 20px; line-height: 1.25; }

    h1 { font-size: 32px; }

    h2 { font-size: 28px; }

    h3 { font-size: 24px; }

    h4 { font-size: 20px; }

    h5 { font-size: 16px; }

    p, ul, ol { font-size: 16px; font-weight: normal; margin-bottom: 20px; }

    .container { display: block !important; clear: both !important; margin: 0 auto !important; max-width: 580px !important; }

    .container table { width: 100% !important; border-collapse: collapse; }

    .container .masthead { padding: 20px 0; background: #424242; color: white; }

    .container .content { background: white; padding: 30px 35px; }

    .container .content.footer { background: none; }

    .container .content.footer p { margin-bottom: 0; color: #888; text-align: center; font-size: 14px; }

    .container .content.footer a { color: #888; text-decoration: none; font-weight: bold; }

    .container .content.footer a:hover { text-decoration: underline; }

    .order-table { width: 100%; }

    .order-table thead tr { background-color: #424242; color: #ffffff; }

    .order-table thead tr th { padding: 8px; }

    .order-table tbody tr td { padding: 8px; }
  </style>
</head>
<body>
<table class="body-wrap">
  <tr>
    <td class="container">

      <!-- Message start -->
      <table>
        <tr>
          <td align="center" class="masthead">
            <img src="http://regportal.su/themes/custom/regportal/logo.png" alt="Regportal.SU" width="220px" height="61px">
          </td>
        </tr>
        <tr>
          <td class="content">
            {{ body }}

            <p><em>– C уважением, команда «Regportal.SU»</em></p>
          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td class="container">

      <!-- Message start -->
      <table>
        <tr>
          <td class="content footer" align="center">
            <p>© Copyright 2014 - 2018 ООО «РЕГПОРТАЛ.СУ»</p>
            <p><a href="mailto:sales@regportal.su">sales@regportal.su</a></p>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</body>
</html>
