// regular imports
@import 'variables/**/*';
@import 'abstractions/**/*';

// import styles
@import 'base/icon-font';
@import 'base/web-font';
@import 'components/atoms/a';
@import 'components/atoms/button';
@import 'components/atoms/headlines';
@import 'components/atoms/lists';
@import 'components/atoms/selection';
@import 'components/atoms/subline';
@import 'components/atoms/table';

// text display
body.cke_editable {
  @extend %no-trailing-margins;
  @extend %wysiwyg;
  color: $color-copy;
  font-family: $font-family-default;

  // override page-main-color
  a {
    &.button {
      cursor: text;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    &.topline {
      @extend %topline;

      &.text-align-center {
        @extend %topline-centered;
      }
    }
  }
}

// style select
.cke_panel_listItem {
  p,
  a,
  h1,
  h2,
  h3,
  h4 {
    font-size: 14px;
  }

  h1,
  h2,
  h3,
  h4 {
    &.topline {
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }
}
