{
// Default options
'functions': true,
'variableNameTransforms': ['dasherize']
}

{{#extend "scss"}}
  {{#content "sprites"}}
    $spritesheet-sprites: (
    {{#each sprites}}
      '{{strings.name}}': ({{px.x}}, {{px.y}}, {{px.offset_x}}, {{px.offset_y}}, {{px.width}}, {{px.height}}, {{px.total_width}}, {{px.total_height}}, '{{{escaped_image}}}', '{{name}}'),
    {{/each}}
    );
  {{/content}}
  {{#content "spritesheet"}}
    ${{spritesheet_info.strings.name}}: ({{spritesheet.px.width}}, {{spritesheet.px.height}}, '{{{spritesheet.escaped_image}}}', ${{spritesheet_info.strings.name_sprites}});
  {{/content}}
{{/extend}}
