{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }} id="overridden-ds-1-col-template">

{{ title_suffix.contextual_links }}
  <div class="group-title">
    {{ ds_content.group_title.node_title }}

    {{ ds_content.group_title.field_company_price }}

    {% if node.field_company_status.value == 1 %}
      {{ ds_content.group_title.flag_favorites }}
    {% endif %}
  </div>

  {% if not logged_in %}
    {{ ds_content.group_title_buy }}
  {% endif %}

  <div class="group-content">
    {{ ds_content.group_content.group_desc }}

    {% if not logged_in %}
      {{ ds_content.group_content.buy_company_webform }}
    {% endif %}

    {% if node.field_company_status.value == 1 %}
      <div class="company-footer">
        {% if logged_in %}
          {{ ds_content.group_content.group_footer.flag_bag }}
        {% else %}
          {{ ds_content.group_content.group_footer.order_button }}
        {% endif %}
      </div>
    {% endif %}
  </div>

</{{ ds_content_wrapper }}>