{%
set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="teaser-header">
    {{ content.node_title }}
    {{ content.field_teaser_image }}
  </div>

  <div class="teaser-info">
    {{ content.field_teaser_text }}
    {{ content.node_link }}
  </div>
</div>