{% set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class
]
%}

<div{{ attributes.addClass(classes) }}>
  {{ content.ds_content }}
</div>