{% set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
'blog-type-' ~ paragraph.field_type_blog.value|clean_class
]
%}

<div{{ attributes.addClass(classes) }}>
  {{ content.field_text }}
  {{ blog }}
</div>