{% set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="element-container">
    {% if block_counts_by_type %}
      <div class="block-blue-lists statistics-by-company-type">
        <div class="block-blue-lists-title">{{ 'Сегодня в продаже'|t }}</div>

        <ul>
          {% for item in block_counts_by_type %}
            <li>
              <a href="{{ item['#url'] }}"><span>{{ item['#title'] }} <span>({{ item['#count'] }} {{ 'шт.'|t }})</span></span></a>
            </li>
          {% endfor %}
        </ul>
      </div>

    {% endif %}

    {% if users %}
      <div class="block-blue-lists statistics-by-company-type">
        <div class="block-blue-lists-title">{{ 'Предложения от регистраторов'|t }}</div>
        {{ users }}
      </div>
    {% endif %}
  </div>
</div>
