{% set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
'space-type-' ~ paragraph.field_space_type.value
] %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>&nbsp;</div>
{% endblock paragraph %}