{% set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
paragraph.field_on_image.value ? 'text-on-image',
] %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="element-container">
      {{ content.field_formatted_text }}
    </div>
  </div>
{% endblock paragraph %}