@mixin box-by-image($image) {
  @if (function-exists('image-url')) {
    background-image: image-url($image);
    width: image-width($image);
    height: image-height($image);
  } @else {
    @warn 'gulp plugin "gulp-compass-imagehelper" missing';
  }
}
