@mixin breakpoint($min, $feature: 'min-width') {
  @media screen and (#{$feature}: $min) {
    @content;
  }
}

@mixin break-max-s {
  @include breakpoint($break-m - 1px, 'max-width') {
    @content;
  }
}

@mixin break-m {
  @include breakpoint($break-m) {
    @content;
  }
}

@mixin break-max-m {
  @include breakpoint($break-l - 1px, 'max-width') {
    @content;
  }
}

@mixin break-l {
  @include breakpoint($break-l) {
    @content;
  }
}
