$grid-columns-max: 12 !default;
$grid-gutter: 2% !default;

// main grid calculation
@function grid-span-width($size, $grid: $grid-columns-max, $gutter: $grid-gutter) {
  $one: (100% - ($grid - 1) * $gutter) / $grid;
  @return $one * $size + $gutter * ($size - 1);
}

@mixin grid-span($size, $grid: $grid-columns-max, $gutter: $grid-gutter) {
  width: grid-span-width($size, $grid, $gutter);
}

// sub grid calculation
@function grid-sub-width($size, $parent, $grid: $grid-columns-max, $gutter: $grid-gutter) {
  $sub-gutter: $parent / $size * $gutter;
  @return grid-span-width($size, $parent, $sub-gutter);
}

@mixin grid-sub-span($size, $parent, $grid: $grid-columns-max, $gutter: $grid-gutter) {
  width: grid-sub-width($size, $parent);
}

@mixin grid-items($grid-map, $gutter) {
  @each $size in $grid-map {
    &-#{$size} {
      @include grid-span($size, $gutter: $gutter);
    }
  }
}
