$page-main-color: () !default;

@mixin page-main-color($attr, $colors: $page-main-color) {
  @each $name, $color in $page-main-color {
    .page-main-color--#{$name} & {
      @if type-of($attr) == 'list' {
        @each $item in $attr {
          #{$item}: $color;
        }
      } @else {
        #{$attr}: $color;
      }
    }
  }
}
