%scrollbar {

  &::-webkit-scrollbar-track {
    background-color: $color-gold-yellow;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: $color-gold-yellow;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-alabaster;
  }
}
