a {
  color: $color-link;
  text-decoration: none;

  &:focus,
  &:active,
  &:hover {
    text-decoration: underline;
    outline: 0;
  }

  &.follow-link-stars {
    &:hover {
      text-decoration: none;
    }
  }
}
