.back-to-top {
  position: fixed;
  top: -50px;
  right: 25px;
  z-index: 9999;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: all 1s ease;

  @media screen and (max-width: $break-l) {
    display: none !important;
  }

  &.back-to-top_show{
    top: 90vh;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: .5;
  }

  &:hover {
    opacity: 1;
    zoom: 1;
    text-decoration: none;
  }

  &:active,
  &:focus {
    text-decoration: none;
  }

  .icon {
    &::after {
      @include icon('to-top');
      font-size: 34px;
      display: flex;
      width: 78px;
      height: 78px;
      justify-content: center;
      align-items: center;
      color: $color-copy;
      background-color: $color-gold-yellow;
      transform: translateY(-6%);
      transition: transform $transition-duration-default;
    }
  }

}
