a.button,
input[type=submit] {
  @include button;
  @include page-main-color('border-color');

  &:hover,
  &:focus,
  &:active {
    @include page-main-color('background-color');
    color: $color-copy-inverted;
  }
}

input[type=submit] {
  font-size: 20px;
  letter-spacing: 2px;
}
