.chosen-container {
  @extend %input;
  outline: none;
  z-index: 10;
  position: relative;
  background: none;
  width: 100% !important;
  min-height: 46px;


  .chosen-choices {
    padding: 8px 0;
    background: none;
    border: none !important;
    box-shadow: none !important;

    .search-choice {
      background: $color-gold-yellow;
      border: none;
      padding-top: 3px;
      padding-bottom: 3px;
      margin-top: 10px;
    }

    .search-field {
      input[type=text] {
        font-size: $font-size-default !important;
      }
    }
  }
}
