.br-theme-css-stars {
  .br-widget {
    max-width: 250px;
    display: flex;
    justify-content: space-between;
    height: auto;

    a {
      margin: 0;
      width: auto;
      height: auto;
      font-size: 30px;

      &::after {
        @include icon('star');
        color: $color-ice-blue;
      }

      &.br-selected {
        &::after {
          color: $color-fuel-yellow;
        }
      }
    }
  }
}