.filter-btn {
  display: flex;
  align-items: center;

  span {
    font-size: 23px;
    color: $color-vetrotech-blue;
    cursor: pointer;
  }

  button {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;

    span {
      position: absolute;
      width: 20px;
      height: 3px;
      top: 50%;
      left: 50%;
      background: $color-vetrotech-blue;
      border-radius: 2px;
      overflow: hidden;
      transition: all 0.3s linear;

      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        background: $color-dusty-gray;
        transition: all $transition-duration-default linear;
      }

      &:nth-child(1) {
        animation: span-first-off $transition-duration-max ease-in-out;
        animation-fill-mode: forwards;
      }

      &:nth-child(2) {
        animation: span-second-off $transition-duration-max ease-in-out;
        animation-fill-mode: forwards;
      }

      &:nth-child(3) {
        animation: span-third-off $transition-duration-max ease-in-out;
        animation-fill-mode: forwards;
      }
    }

    &.on {
      &:hover span::before {
        width: 100%;
        transition: all 0.3s linear;
      }

      span {

        &:nth-child(1) {
          animation: span-first-on $transition-duration-max ease-in-out;
          animation-fill-mode: forwards;
        }

        &:nth-child(2) {
          animation: span-second-on $transition-duration-max ease-in-out;
          animation-fill-mode: forwards;
        }

        &:nth-child(3) {
          animation: span-third-on $transition-duration-max ease-in-out;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

@keyframes span-first-on {
  0% { transform: translate(-50%, -300%); }
  30% { transform: translate(-50%, -50%); }
  100% { transform: translate(-50%, -50%) rotate(-45deg); }
}

@keyframes span-first-off {
  0% { transform: translate(-50%, -50%) rotate(-45deg); }
  30% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -300%); }
}

@keyframes span-second-on {
  0% { transform: translate(-50%, -50%); }
  25% { background: $color-dusty-gray; }
  50% { transform: translate(-50%, -50%) scale(1); }
  100% { transform: translate(-150%, -50%) scale(0); }
}

@keyframes span-second-off {
  0% { transform: translate(-150%, -50%) scale(0); }
  25% { background: $color-dusty-gray; }
  50% { transform: translate(-50%, -50%) scale(1); }
  100% {  transform: translate(-50%, -50%); }
}

@keyframes span-third-on {
  0% { transform: translate(-50%, 200%); }
  30% { transform: translate(-50%, -50%); }
  100% { transform: translate(-50%, -50%) rotate(45deg); }
}

@keyframes span-third-off {
  0% { transform: translate(-50%, -50%) rotate(45deg); }
  30% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, 200%); }
}