[type='date'],
[type='email'],
[type='number'],
[type='password'],
[type='tel'],
[type='text'],
[type='url'],
select,
textarea {
  max-width: 100%;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  appearance: none;
}
