h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}


h1,
h2,
h3,
h4 {
  &.topline {
    @extend %topline;

    &.text-align-center {
      @extend %topline-centered;
    }
  }
}