.messages {
  padding: 20px;
  margin-top: 10px;
  color: white;
  opacity: .9;
  transition: opacity 0.6s;
  margin-bottom: 15px;

  &.messages--error {
    background-color: #f44336;
  }

  &.messages--status {
    background-color: $color-chateau-green;
  }

  a {
    color: $color-gold-yellow;
  }
}
