.starrating {
  display: flex;
  justify-content: space-between;
  width: 100px;

  > div {

    &::after {
      @include icon('star');
      display: block;
      color: $color-ice-blue;
    }

    &.star-on {

      &::after {
        color: $color-fuel-yellow;
      }
    }
  }
}
