th,
td {
  border: 0;
}

tr {
  > *:nth-child(n+2) {
    padding-left: $spacing-default;
  }
}

thead {
  @extend %h2;

  th,
  td {
    padding: 12px 0;
  }

  tr:last-child {
    border-bottom: 3px solid $color-copy;
  }
}

tbody {
  th,
  td {
    padding: 18px 0;
  }

  th {
    font-weight: normal;
  }

  td {
    font-weight: bold;
  }

  tr:nth-child(n+2) {
    border-top: 2px solid $color-border-default;
  }
}

table {
  @extend %headline-margins;
  border: 0;
  text-align: left;
}