.tooltip-container {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 2;
  transform: translateY(-50%);

  .tooltip {
    opacity: 0;
    width: 230px;
    display: block;
    position: absolute;
    right: 0px;
    top: 32px;
    padding: 20px;
    background: $color-copy-inverted;
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.24));
    transition: all .2s ease-in-out;
    transform: scale(0);
  }

  .tooltip:after {
    content: "";
    position: absolute;
    top: 0;
    right: 5px;
    margin: -7px 0 0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #fff;
  }

  .tooltip-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    border: 2px solid $color-border-input;
    color: $color-border-input;
    font-size: 16px;
    font-weight: bold;

  }

  &:hover {
    .tooltip-icon {
      border-color: $color-copy;
      color: $color-copy;
    }

    .tooltip {
      opacity: 1;
      transform: scale(1);
    }
  }

}