$namespace: 'site-header';
$header-height: 86px;

.#{$namespace} {
  @extend %layout-container;
  position: relative;
  height: $header-height;
  z-index: $site-header-z-index;
  display: flex;
  width: 100%;
  background: $color-bg-gray;
  transition: all .2s ease-in-out;
  padding-top: 12px;

  @media screen and (min-width: $break-l) {
    padding-top: 0;
  }

  body.fixed & {
    position: fixed;
    z-index: 901;
    box-shadow: 0 6px 30px 0 $color-20pc-black;
  }

  div:not(.#{$namespace}--scroll) {
    display: flex;
  }

  .layout-container {
    max-width: $header-width-max;
    padding-right: $page-side-spacing;
    padding-left: $page-side-spacing;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    @media screen and (min-width: $break-m) {
      align-items: center;
    }

    @media screen and (min-width: $break-l) {
      flex-direction: row;
    }

    .nav-toggle {
      @extend %nav-toggle;

      @media screen and (min-width: $break-l) {
        display: none;
      }
    }

  }

  &--spacer {
    display: none;
  }

  &--left {
    flex-shrink: 0;
    margin-bottom: 15px;

    @media screen and (min-width: $break-m) {
      margin-bottom: 0;
    }
  }

  &--right {
    @media screen and (max-width: $break-l - 1) {
      display: block !important;
      position: absolute;
      top: 75px;
      width: calc(100% + #{$page-side-spacing} * 2);
    }

    .menu--main {
      display: none;

      @media screen and (min-width: $break-l) {
        display: block;
      }

      .layout-container.open & {
        @media screen and (max-width: $break-l - 1) {
          display: block;
          background-color: $color-sidebar;
        }
      }

      > ul {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        @media screen and (min-width: $break-l) {
          flex-direction: row;
        }

        > li {
          a {
            display: flex;
            align-items: center;
            padding-right: $spacing-default;
            padding-left: $spacing-default;
            height: $header-height;
            color: $color-copy-inverted;
            font: $font-size-large/1 $font-family-roboto;
            text-align: center;
            transition: all $transition-duration-default;

            @media screen and (min-width: $break-l) {
              padding-left: 22px;
              padding-right: 22px;
            }

            &:hover {
              text-decoration: none;
              color: $color-gold-yellow;
            }

            &.is-active {
              background-color: $color-gold-yellow;
              color: $color-bg-gray;
            }
          }

          &:nth-child(even) {
            background-color: $color-bg-gray;

            @media screen and (min-width: $break-l) {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  .site-logo {
    img {
      max-width: 250px;
    }
  }
}
