footer {
  background: image-url('footer-bg.jpg') no-repeat center bottom;
  background-size: cover;
  padding: 14px $page-side-spacing;
  color: $color-copy-inverted;

  @media screen and (min-width: $break-m) {
    background-size: auto;
  }

  > .element-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;

    @media screen and (min-width: $break-l) {
      flex-direction: row;
    }
  }

  .menu--main {
    display: none;
    width: 100%;
    margin-bottom: 35px;

    @media screen and (min-width: $break-l) {
      display: block;
    }

    > ul {
      display: flex;
      justify-content: space-between;

      > li {
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: block;
          position: relative;
          color: $color-copy-inverted;
          font-size: $font-size-large;
          transition: all $transition-duration-default;

          &:hover {
            text-decoration: none;
            color: $color-gold-yellow;
          }

          &.is-active {
            &::after {
              height: 3px;
              width: calc(100% + 4px);
              position: absolute;
              left: -2px;
              bottom: -8px;
              content: "";
              background-color: $color-gold-yellow;
            }
          }
        }
      }
    }
  }

  .block-regportal-copyright {
    margin-bottom: 8px;
    order: 2;
    width: 100%;
    text-align: center;

    @media screen and (min-width: $break-l) {
      order: 1;
      width: auto;
      text-align: left;
    }
  }

  a {
    color: $color-copy-inverted;
  }

  .block-regportal-contacts-footer {
    order: 1;
    width: 100%;
    margin-bottom: $spacing-default;

    @media screen and (min-width: $break-l) {
      order: 2;
      max-width: $max-width-contact;
      margin-bottom: 0;
    }
  }

  .qwert {
      &:before {
        @include icon('phone');
      }
    }
}
