.site-main {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: $page-width-max;
  width: 100%;
  position: relative;

  &.site-main-with-sidebar {
    display: flex;
    flex-direction: row;

    .site-main--left {
      width: $sidebar-width-open;
      transition: all $transition-duration-default ease-in-out;

      @media screen and (max-width: $break-sidebar) {
        position: absolute;
        left: calc(#{$sidebar-width-close} - #{$sidebar-width-open});
        top: 0;
        height: 100%;
        z-index: 100;

        &.open {
          left: 0;
        }
      }
    }

    .site-main--center {
      width: calc(100% - #{$sidebar-width-open});
      background-color: #f8f8f8;

      @media screen and (max-width: $break-sidebar) {
        width: 100%;
        padding-left: $sidebar-width-close;
      }
    }
  }

  &--featured,
  &--content {
    flex-direction: column;
  }

  &--content {
    flex-grow: 1;
  }
}
