{#
/**
 * @file
 * Default theme implementation for the Regportal contacts.
 *
 * Available variables:
 * - phone => Phone
 * - phone_desc => Description about call
 * - email => Email
 * - telegram => Text for telegram
 * - telegram_link => Link to telegram
 * - order_call => Order the call
 *
 * @see template_preprocess_regportal-contacts()
 *
 * @ingroup themeable
 */
#}
{% if logged_in %}
  <div class="regportal-user-info">
    <a href="/user/logout" class="user-logout">Выход</a>
    <div class="regportal-user-info-main">
      <a href="/user/{{ user_id }}" class="user-picture">
        {% if user_picture %}
          <img src="{{ user_picture }}" alt="{{ user_full_name }}">
        {% else %}
          <span></span>
        {% endif %}
      </a>
      <a href="/user/{{ user_id }}" class="user-full-name">{{ user_full_name }}</a>
    </div>

    <div class="regportal-user-info-counts">
      <div class="user-discount">
        <a href="/user/{{ user_id }}">Скидочных рублей:</a> <span>{{ user_discount }} ₽</span>
      </div>
      <div class="user-favorites">
        <a href="/user/{{ user_id }}/orders#favorites">Отобранные фирмы:</a> <span class="user-count-favorites">{{ user_count_favorites }}</span>
      </div>
    </div>
  </div>

  <div class="regportal-user-right">
{% endif %}

    <div class="regportal-contacts">

      <div class="regportal-contacts-email">
        <a href="mailto:{{ email }}">{{ email }}</a>
      </div>

      <div class="regportal-contacts-phone">
        <div class="regportal-contacts-phone-number"><a href="tel:{{ phone }}">{{ phone }}</a></div>
        <div class="regportal-contacts-phone-desc">{{ phone_desc }}</div>
      </div>

      <div class="regportal-contacts-telegram"><a href="{{ telegram_link }}" target="_blank">{{ telegram }}</a></div>

      <div class="regportal-contacts-order-call">
        <a href="/form/zakazat-obratnyi-zvonok" class="use-ajax" data-dialog-type="modal" data-dialog-options='{"dialogClass": "ui-dialog-yellow ui-dialog-order-call", "buttons": [{"label": ""}]}'>{{ order_call }}</a>
      </div>

      <span class="regportal-contacts-hide"></span>
    </div>
{% if logged_in %}
    <div class="regportal-user-bag">
      <a href="/user/{{ user_id }}/orders#orders"><div class="regportal-user-bag-price"><span></span>&nbsp;₽</div></a>
      <div class="regportal-user-bag-counts"><a href="/user/{{ user_id }}/orders#orders"><span></span></a></div>
    </div>
  </div>
{% else %}
  <div class="regportal-auth-section">
    <a href="/user/login" class="link-login">Войти</a>
    <a href="/user/register" class="link-register">Зарегистрироваться</a>
  </div>
{% endif %}

<a class="regportal-contacts-show">{{ "Показать контакты"|t }}</a>
