{#
/**
 * @file
 * Default theme implementation for the Regportal contacts.
 *
 * Available variables:
 * - phone => Phone
 * - phone_desc => Description about call
 * - email => Email
 * - telegram => Text for telegram
 * - telegram_link => Link to telegram
 * - order_call => Order the call
 *
 * @see template_preprocess_regportal-contacts()
 *
 * @ingroup themeable
 */
#}
<div class="regportal-contacts-footer">

  <div class="regportal-contacts-email">
    <a href="mailto:{{ email }}">{{ email }}</a>
  </div>

  <div class="regportal-contacts-phone">
    <div class="regportal-contacts-phone-number">{{ phone }}</div>
    <div class="regportal-contacts-phone-desc">{{ phone_desc }}</div>
  </div>

  <div class="regportal-contacts-telegram"><a href="{{ telegram_link }}" target="_blank">{{ telegram }}</a></div>

  <div class="regportal-contacts-order-call">
    <a href="/form/zakazat-obratnyi-zvonok" class="use-ajax" data-dialog-type="modal" data-dialog-options='{"dialogClass": "ui-dialog-yellow ui-dialog-order-call", "buttons": [{"label": ""}]}'>{{ order_call }}</a>
  </div>

  <div class="regportal-contacts-working-hours">
    Время работы: Пн-Пт с 9:00 до 19:00 по Московскому времени
  </div>
</div>
