{#
/**
 * @file
 * General page template.
 */
#}

{% if header_bg %}
  {% set main_header_style = 'background: url(' ~  header_bg ~ ') no-repeat center top' %}
{% endif %}

{% if footer_bg %}
  {% set container_style_footer = 'background-image: url(' ~  footer_bg ~ ')' %}
{% endif %}

{% if page.shortlinks %}
  <div class="site-shortlinks">
    {{page.shortlinks}}
  </div>
  <!-- end shortlinks -->
{% endif %}

<a href="#top" class="back-to-top" style="display:block;"><span class="icon icon_color_anthracite back-to-top__icon" data-reactid="148"></span></a>

{% if page.featured %}
  <div class="site-main--featured">
    <div class="layout-container">
      {{page.featured}}
    </div>
  </div>
{% endif %}

<div class="site-container">
  <header class="site-header">
    <div class="layout-container">
      <div class="site-header--left">
        {# usually just the branding #}
        {{page.header_main_left}}
      </div>

      <button class="nav-toggle">
        <span class="bar-top"></span>
        <span class="bar-mid"></span>
        <span class="bar-bot"></span>
      </button>

      <div class="site-header--right">
        {# search, country/language, menu #}
        {{page.header_main_right}}
        {# <-- #}
      </div>
    </div>
  </header>
  <div class="site-header--spacer"></div>
  <!-- site-header end -->

  <main class="site-main {% if page.sidebar_left %}site-main-with-sidebar{% endif %}">
    {% if page.sidebar_left %}
      <div class="site-main--left">
        <button class="nav-toggle">
          <span class="bar-top"></span>
          <span class="bar-mid"></span>
          <span class="bar-bot"></span>
        </button>
        {{ page.sidebar_left }}
      </div>
    {% endif %}

    <div class="site-main--center">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <div class="site-main--header" style="{{ main_header_style }}">
        {% if page.navigation %}
          <div class="site-main--nav">
            {{page.navigation}}
          </div>
        {% endif %}

        {% if paragraph_header %}
            {{ paragraph_header }}
        {% endif %}
      </div>


      <div class="site-main--content">
        {{page.content}}
      </div>
    </div>
  </main>
  <!-- site-main end -->



  {% if footer_bg %}
  <footer class="site-footer layout-container" style="{{ container_style_footer }}">
  {% else %}
  <footer class="site-footer">
  {% endif %}
    <div class="element-container">
      {% if page.footer_bottom %}
        {{ page.footer_bottom }}
      {% endif %}
    </div>
  </footer>
  <!-- site-footer end -->
</div>
<!-- site-container end -->


<!--  <:3  )~~  -->
