<div class='starrating'>
  {% if type == 'starrating' %}
    {% for i in min..max %}
      {% if i > rate %}
        {% set class = 'star-off' %}
      {%else%}
        {% set class = 'star-on' %}
      {%endif%}
      {% set j = i + 1 %}
      {% set class = class ~ ' s'~ j %}
      <div class='rate-image {{class}}'></div>
    {%endfor%}
  {% else %}
    {{rate}}
  {%endif%}
</div>
