// @todo perliminary setup
// Primary palette
$color-vetrotech-blue: #485162;
$color-black: #000;
$color-saint-gobain-grey: #f8f8f8;
$color-alabaster: #fafafa;
$color-tundora: #4e4e4e;
$color-tundora-2: #424242;
$mine-shaft: #262626;
$mine-shaft-2: #3a3a3a;
$color-emperor: #4f4f4f;
$color-jungle-green: #27AE60;

// Secondary palette
$color-ultramarin: #004976;
$color-petroleum: #2e5665;

$color-jaffa: #F2994A;
$color-buddha-gold: #C7A800;
$color-burnt-sienna: #EB5757;
$color-curious-blue: #2D9CDB;

// UI pallette
$color-raspberry-red: #dc1720;
$color-gold-yellow: #ffe13b;
$color-golden-fizz: #fff33b;
$color-fuel-yellow: #edb726;
$color-chateau-green: #4cb362;
$color-la-palma: #279519;
$color-ice-blue: #9fb2cc;
$color-silver: #c7c7c7; // temp
$color-river-bed: #3e4758;
$color-pink: #fb3068;
$color-dusty-gray: #616160;
$color-dusty-gray-2: #9e9b9b;

// Gray palette
$color-gallery: #ededed;
$color-white: #fff;
$color-rolling-stone: #727F87;
$color-sidebar: $color-emperor;

// use-cases
$color-main: $color-vetrotech-blue;

// - typo
$color-copy: $mine-shaft;
$color-copy-inactive: $color-silver; // temp
$color-copy-inverted: $color-white;
$color-link: $color-main;
$color-label: $color-dusty-gray;
$color-title-center: $color-dusty-gray;
$color-contacts: #353535;

// - body
$color-body: $color-alabaster;

// - borders
$color-border-default: $color-gallery;

// - misc
$color-shadow: $color-black;

$color-border: #667283;
$color-border-input: #c4c4c4;
$color-border-table-row: #e3e2e2;
$color-bg-table-row: #f3f3f3;
$color-titlebar-bg: #454545;
$color-button: #ababab;

$color-bg-dark: #3a3a3a;
$color-bg-dark-odd-row: #4e4e4e;

$color-footer-bg: $color-river-bed;
$color-menu-border: #4c576b;

// - table
$color-table-bg: $color-saint-gobain-grey;

// - blog
$color-blog-teaser: $color-tundora;
$color-bg-gray: $color-tundora-2;

// Status colors.
$color-status-1: $color-jaffa;
$color-status-2: $color-buddha-gold;
$color-status-3: $color-burnt-sienna;
$color-status-4: $color-jungle-green;
$color-status-5: $color-curious-blue;

$color-20pc-black: $color-white * .5;
