$icon-font-family: 'icomoon';
$icon-font-trivials: (
  phone: '\E805',
  mobile: '\E804',
  right: '\E80B',
  up-dir: '\E812',
  left-dir: '\E807',
  right-dir: '\E812',
  star-empty: '\E809',
  star: '\E800',
  xls: '\E801',
  user: '\E803',
  close: '\E80C',
  mail: '\F0E0',
  email-2: '\E806',
  telegram: '\E808',
  forma: '\E802',
  to-top: '\E80E',
  calendar: '\E810',
  spin: '\E811',
  whatsapp: '\E80D',
  telegram-2: '\E811',
  telephone: '\E812',
  viber: '\E813',
  email: '\F0E0',
  key: '\E80F',
  lock: '\E815',
  info: '\E816',
  basket: '\E819',
  login: '\E81A',
  logout: '\E81B',
  pencil: '\E818',
  menu: '\F0C9',
  trash: '\E81C',
  exit: '\E817',
  enter: '\E81E',
  profile: '\E81D'
);
