@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

// @todo perliminary setup

$page-width-max: 1920px;
$page-side-spacing: 15px;

$sidebar-width-open: 270px;
$sidebar-width-close: 56px;

$header-width-max: 1806px;
$container-element-width-max: 1200px;

$spacing-default: 30px;
$spacing-outer: 80px;
$spacing-minor: 15px;
$spacing-small: 6px;

$default-padding: 10px;

$orders-width-max: 1520px;
