$font-path: '../../fonts/';

$font-family-name-default: 'OpenSans';
$font-family-default: $font-family-name-default, Arial, sans-serif;
$font-weight-semibold: 600;
$font-weight-extrabold: 800;
$font-weight-light: 300;

$font-family-opensans: "opensans";

$font-family-roboto: 'Roboto', sans-serif;

$font-size-s-h1: 30px;
$line-height-s-h1: 35px;

$font-size-m-h1: 30px;
$line-height-m-h1: 35px;

$font-size-l-h1: 39px;
$line-height-l-h1: 55px;

$font-size-s-h2: 24px;
$line-height-s-h2: 24px;

$font-size-l-h2: 28px;
$line-height-l-h2: 28px;

$font-size-s-h3: 18px;
$line-height-s-h3: 24px;

$font-size-l-h3: 23px;
$line-height-l-h3: 23px;

$font-size-h4: 15px;
$line-height-h4: 19px;

$font-size-large: 20px;
$font-size-big: 18px;
$font-size-default: 16px;
$font-size-minor: 14px;
$font-size-small: 12px;
