{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

<table>
  <thead>
    <tr>
      <th class="field-created" scope="col">{{ "Дата заказа"|t }}</th>
      <th class="field-order-price" scope="col">{{ "Сумма заказа"|t }}</th>
      <th class="field-order-discount" scope="col">{{ "Станет скидочных рублей"|t }}</th>
      <th class="field-order-status-date" scope="col">{{ "Дата изменения статуса"|t }}</th>
      <th class="field-order-status" scope="col">{{ "Статус заказа"|t }}</th>
    </tr>
  </thead>
  <tbody>
  {% for row in rows %}
    {{ row.content }}
  {% endfor %}
  </tbody>
</table>