{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

<div class="form-elements">
  {{ form.title }}
  {{ form.field_company_region_target_id }}
  {{ form.field_company_okved_target_id }}
</div>

<div class="form-elements">
  <div class="form-elements-children form-elements-date">
    <label>{{ 'Дата регистрации от и до'|t }}</label>
    <div>{{ form.field_company_date_value }} <span>-</span> {{ form.field_company_date_value_1 }}</div>
  </div>

  <div class="form-elements-children form-elements-price">
    <label>{{ 'Цена от и до'|t }}</label>
    <div>{{ form.field_company_price_value }} <span>-</span> {{ form.field_company_price_value_1 }}</div>
  </div>

  <div class="form-elements-account">
    {{ form.bank_account_filter }}
    {{ form.field_bank_target_id }}
  </div>
</div>

<div class="form-elements">
  {{ form.field_company_reg_number_value }}
  {{ form.uid }}
</div>

<div class="form-elements form-elements-tax">
  {{ form.field_company_tax_number_value }}
  {{ form.without_ifns }}
</div>

{{ form.form_build_id }}
{{ form.form_id }}
{{ form.form_token }}
{{ form.actions }}

