@mixin button-base {
  display: inline-block;
  min-width: $button-size-min;
  padding: 12px 30px;
  color: $color-button;
  background: none;
  border: 1px solid $color-gold-yellow;
  border-radius: 0;
  text-align: center;
  outline: none;
  font-size: 19px;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
  transition: color $transition-duration-default ease-out,
    background-color $transition-duration-default ease-out,
    border-color $transition-duration-default ease-out;

  &:hover,
  &:active {
    transition: color $transition-duration-default ease-in,
    background-color 0$transition-duration-default ease-in,
    border-color $transition-duration-default ease-in;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    background-color: $color-gold-yellow;
    color: $color-copy;
  }
}

%button {
  @include button-base;
}

@mixin button-color($color, $color-hover, $color-copy-hover: $color-copy-inverted) {
  border-color: $color;
  color: $color;

  &:hover,
  &:active {
    background-color: $color-hover;
    border-color: $color-hover;
    color: $color-copy-hover;
  }
}

@mixin button($color: $color-copy, $color-hover: $color-link, $color-copy-hover: $color-copy-inverted) {
  @extend %button;
}

