%center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

%center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

%center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
