%headline-margins {
  margin-top: 0;
}

%headline-base {
  @extend %headline-margins;
  font-weight: normal;
}

%topline {
  $spacing: 10px;

  padding-bottom: $spacing + $topline-height;
  margin-bottom: $spacing;
  position: relative;

  &::after {
    @include page-main-color('background');
    display: block;
    content: '';
    height: $topline-height;
    width: 100%;
    bottom: 0;
    left: 0;
    background: $color-gold-yellow;
    position: absolute;

    @include break-m {
      width: calc(100% + 26px);
    }
  }
}

%topline-centered {
  @extend %topline;

  &::after {
    left: 50%;
    transform: translateX(-50%);
  }
}

%h1 {
  @extend %headline-base;
  font-size: $font-size-s-h1;
  line-height: $line-height-s-h1;
  font-weight: $font-weight-extrabold;

  @include break-m {
    font-size: $font-size-m-h1;
    line-height: $line-height-m-h1;
  }

  @include break-l {
    font-size: $font-size-l-h1;
    line-height: $line-height-l-h1;
  }
}

%h2 {
  @extend %headline-base;
  font-size: $font-size-s-h2;
  line-height: $line-height-s-h2;

  @include break-l {
    font-size: $font-size-l-h2;
    line-height: $line-height-l-h2;
  }
}

%h3 {
  @extend %headline-base;
  font-size: $font-size-s-h3;
  line-height: $line-height-s-h3;

  @include break-l {
    font-size: $font-size-l-h3;
    line-height: $line-height-l-h3;
  }
}

%h4 {
  @extend %headline-base;
  font-size: $font-size-h4;
  line-height: $line-height-h4;
}
