%ol {
  counter-reset: ol;

  li {
    counter-increment: ol;
    position: relative;
    padding-left: 20px;

    &::before {
      content: counter(ol)'.';
      position: absolute;
      text-align: right;
      left: 0;
      top: 0;
    }

    &:nth-child(n+2) {
      margin-top: 12px;
    }
  }
}

%ul {
  li {
    padding-left: 30px;
    position: relative;

    &::before {
      @include icon('left-dir');
      position: absolute;
      left: 0;
      top: 2px;
      font-size: 20px;
      font-weight: bold;
    }

    &:nth-child(n+2) {
      margin-top: 14px;
    }
  }
}
