%nav-toggle {
  height: 56px;
  width: 56px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 0;
  border: none;

  &:focus {
    outline-width: 0;
  }

  [class*='bar-'] {
    display: block;
    height: 3px;
    width: 40px;
    margin-bottom: 8px;
    background: $color-copy-inverted;
    transform: rotate(0deg);
    transition: .2s ease all;
  }

  .bar-bot {
    margin-bottom: 0;
  }

  .site-main--left.open &,
  .layout-container.open & {
    width: 46px;

    .bar-top {
      transform: rotate(45deg);
      transform-origin: 15% 100%;
    }

    .bar-mid {
      opacity: 0;
    }

    .bar-bot {
      transform: rotate(-45deg);
      transform-origin: 12% 0px;
    }
  }
}
