@mixin standard-icon($icon_name) {
  &:before {
    @include icon($icon_name);
    display: flex;
    justify-content: center;
    align-items: center;
    width: $icons-size;
    height: $icons-size;
    position: absolute;
    left: 0;
    top: 0;
    font-family: $icon-font-family;
    font-size: 34px;
    color: $color-gold-yellow;
  }
}