$class-slug: order-status !default
$colors: (
  $color-status-1,
  $color-status-2,
  $color-status-3,
  $color-status-4,
  $color-status-5
);

@mixin order-status-color($class: $class-slug, $is-label: false) {
  @for $i from 1 through 5 {
    &.#{$class}-#{$i} {

      @if $is-label {
        label {
          color: nth($colors, $i);
        }
      }
      @else {
        color: nth($colors, $i);
      }
    }
  }
}
