%title-center {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 35px;
  text-align: center;
  color: $color-title-center;
  font-weight: bold;

  &::before,
  &::after {
    content:'\2212';
    margin-right: 28px;
    color: $color-gold-yellow;
    font-size: 50px;
    line-height: 1;
  }

  &::after {
    margin-left: 28px;
  }
}