<h1>COLORBOX TEST – DEV ONLY</h1>

<ul class="colorbox" style="display:flex;">
  <li>
    <a href="http://lorempixel.com/1920/1020/sports/1">
      <img src="http://lorempixel.com/300/225/sports/1" alt="" />
    </a>
  </li>

  <li>
    <a href="http://lorempixel.com/1920/1020/sports/2">
      <img src="http://lorempixel.com/300/225/sports/2" alt="" />
    </a>
  </li>

  <li>
    <a href="http://lorempixel.com/1920/1020/sports/3">
      <img src="http://lorempixel.com/300/225/sports/3" alt="" />
    </a>
  </li>

  <li>
    <a href="http://lorempixel.com/1920/1020/sports/7">
      <img src="http://lorempixel.com/300/225/sports/7" alt="" />
    </a>
  </li>

  <li>
    <a href="http://lorempixel.com/1920/1020/sports/5">
      <img src="http://lorempixel.com/300/225/sports/5" alt="" />
    </a>
  </li>
</ul>

<p><a href="https://youtu.be/3vzT7KMGkdQ">youtu.be</a></p>
<p><a href="https://www.youtube.com/watch?v=3vzT7KMGkdQ">youtube.com/watch</a></p>
<p><span data-video-id="3vzT7KMGkdQ">video-id attr</span></p>
