<section class="diagonal-cut dev dev-1">
  default
</section>

<section class="diagonal-cut prepend-cut dev">
  prepend
</section>

<section class="diagonal-cut append-negative-cut dev">
  append
</section>

<section class="diagonal-cut dev dev-4">
  default
</section>
