<h1>GRID TEST – DEV ONLY</h1>

<div class="grid-row grid-test">
  <div class="grid-item-s-12 grid-item-m-6 grid-item-l-3">
    <span class="hide-m hide-l">12</span>
    <span class="hide-s hide-l">6</span>
    <span class="hide-s hide-m">3</span>
  </div>
  <div class="grid-item-s-12 grid-item-m-6 grid-item-l-3">
    <span class="hide-m hide-l">12</span>
    <span class="hide-s hide-l">6</span>
    <span class="hide-s hide-m">3</span>
  </div>
  <div class="grid-item-s-12 grid-item-m-6 grid-item-l-3">
    <span class="hide-m hide-l">12</span>
    <span class="hide-s hide-l">6</span>
    <span class="hide-s hide-m">3</span>
  </div>
  <div class="grid-item-s-12 grid-item-m-6 grid-item-l-3">
    <span class="hide-m hide-l">12</span>
    <span class="hide-s hide-l">6</span>
    <span class="hide-s hide-m">3</span>
  </div>
</div>

<div class="grid-row grid-test">
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
</div>

<div class="grid-row grid-test">
  <div class="grid-item-s-12 grid-item-l-4">
    <span class="hide-l">12</span>
    <span class="hide-s hide-m">4</span>
  </div>
  <div class="grid-item-s-12 grid-item-l-4">
    <span class="hide-l">12</span>
    <span class="hide-s hide-m">4</span>
  </div>
  <div class="grid-item-s-12 grid-item-l-4">
    <span class="hide-l">12</span>
    <span class="hide-s hide-m">4</span>
  </div>
</div>

<div class="grid-row grid-test">
  <div class="grid-item-s-12 grid-item-m-6">
    <span class="hide-m hide-l">12</span>
    <span class="hide-s">6</span>
  </div>
  <div class="grid-item-s-12 grid-item-m-6">
    <span class="hide-m hide-l">12</span>
    <span class="hide-s">6</span>
  </div>
</div>

<div class="grid-row grid-test">
  <div class="grid-item-s-6 grid-item-m-4 grid-item-l-2">
    <span class="hide-m hide-l">6</span>
    <span class="hide-s hide-l">4</span>
    <span class="hide-s hide-m">2</span>
  </div>
  <div class="grid-item-s-6 grid-item-m-4 grid-item-l-2">
    <span class="hide-m hide-l">6</span>
    <span class="hide-s hide-l">4</span>
    <span class="hide-s hide-m">2</span>
  </div>
  <div class="grid-item-s-6 grid-item-m-4 grid-item-l-2">
    <span class="hide-m hide-l">6</span>
    <span class="hide-s hide-l">4</span>
    <span class="hide-s hide-m">2</span>
  </div>
  <div class="grid-item-s-6 grid-item-m-4 grid-item-l-2">
    <span class="hide-m hide-l">6</span>
    <span class="hide-s hide-l">4</span>
    <span class="hide-s hide-m">2</span>
  </div>
  <div class="grid-item-s-6 grid-item-m-4 grid-item-l-2">
    <span class="hide-m hide-l">6</span>
    <span class="hide-s hide-l">4</span>
    <span class="hide-s hide-m">2</span>
  </div>
  <div class="grid-item-s-6 grid-item-m-4 grid-item-l-2">
    <span class="hide-m hide-l">6</span>
    <span class="hide-s hide-l">4</span>
    <span class="hide-s hide-m">2</span>
  </div>
</div>

<div class="grid-row grid-test">
  <div class="grid-item-s-12">12</div>
</div>

<div class="grid-row grid-test">
  <div class="grid-item-s-6 left-s-3
            grid-item-m-4 left-m-4
            grid-item-l-2 left-l-5">
    <span class="hide-m hide-l">6</span>
    <span class="hide-s hide-l">4</span>
    <span class="hide-s hide-m">2</span>
  </div>
</div>

<div class="grid-row grid-test">
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
  <div class="grid-item-s-1">1</div>
</div>
