<h1>Owl Carousel – Dev only</h1>

<h4>slider automated</h4>
<div class="slider-automated dev">
  <div style="background:#f00"> Your Content 1.1 </div>
  <div style="background:#0f0"> Your Content 1.2 </div>
  <div style="background:#00f"> Your Content 1.3 </div>
</div>

<h4>slider manual single</h4>
<div id="slider-2" class="slider-manual single dev">
  <div style="background:#f00"> Your Content 2.1 </div>
  <div style="background:#0f0"> Your Content 2.2 </div>
  <div style="background:#00f"> Your Content 2.3 </div>
  <div style="background:#ff0"> Your Content 2.4 </div>
  <div style="background:#0ff"> Your Content 2.5 </div>
  <div style="background:#f0f"> Your Content 2.6 </div>
  <div style="background:#000"> Your Content 2.7 </div>
</div>


<h4>slider manual multiple</h4>
<div class="slider-manual multiple dev">
  <div style="background:#f00"> Your Content 3.1 </div>
  <div style="background:#0f0"> Your Content 3.2 </div>
  <div style="background:#00f"> Your Content 3.3 </div>
  <div style="background:#ff0"> Your Content 3.4 </div>
  <div style="background:#0ff"> Your Content 3.5 </div>
  <div style="background:#f0f"> Your Content 3.6 </div>
  <div style="background:#000"> Your Content 3.7 </div>
</div>
