$contact-sticky-row-color: $color-gold-yellow;
$contact-sticky-row-height-s: 48px;
$contact-sticky-row-height-m: 70px;
$contact-sticky-row-height-l: 82px;
$contact-sticky-row-close-button-width: 52px;
