$grid-outer-spacing: 0px;
$grid-columns-max: 12;

$grid-s-gutter: 6px / $break-s * 100%;
$grid-m-gutter: 10px / $break-m * 100%;
$grid-l-gutter: 20px / $break-l * 100%;

$grid-setup: (
  s: (
    gutter: $grid-s-gutter,
    break: $break-s
  ),
  m: (
    gutter: $grid-m-gutter,
    break: $break-m
  ),
  l: (
    gutter: $grid-l-gutter,
    break: $break-l
  )
);
