$site-header-height: 80px;
$site-header-z-index: 120;
$site-header-background: $color-body;

$site-header--item-active: $color-alabaster;

$site-header--button-width: 92px;
$site-header--button-padding-h: 27px;

$site-header--font-size-header: 26px;
