$space-small-s: 10px;
$space-small-m: 20px;
$space-small-l: 40px;

$space-medium-s: 20px;
$space-medium-m: 40px;
$space-medium-l: 80px;

$space-large-s: 20px;
$space-large-m: 60px;
$space-large-l: 90px;
