.node--type-blog {

  &.node--view-mode-full {

    .addtoany_list {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 200px;
      z-index: 99;
    }

    .blog-top-area {
      position: relative;

      .field--name-field-image {
        position: relative;

        img {
          display: flex;

          @include break-l {
            width: 100%;
          }
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: $color-black;
          opacity: .6;
          transition: opacity .5s 0s ease-in-out;
        }
      }

      &-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: $spacing-default;
        display: flex;
        align-items: center;

        > div {
          @extend %layout-container;
          color: $color-copy-inverted;

          .field--name-node-title {
            text-align: center;
          }
        }
      }
    }

    .blog-content-area {
      @extend %layout-container;
      padding: $spacing-default;

      .field--name-node-post-date {
        font-weight: bold;
      }
    }
  }

  &.node--view-mode-teaser {
    display: flex;

    @media screen and (min-width: $break-m) {
      height: 280px;
    }

    .field--name-field-teaser-image {
      display: none;

      @media screen and (min-width: $break-m) {
        display: block;
      }

      img {
        display: block;
      }
    }

    .teaser-info {
      width: 100%;
      padding: 20px 15px;
      background-color: $color-golden-fizz;
      color: $color-blog-teaser;

      @media screen and (min-width: $break-m) {
        width: 50%;
      }

      .field--name-node-title {
        font-weight: bold;
        font-size: 16.5px;
        line-height: 1.5;
        margin-bottom: 10px;

        > div {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
        }
      }

      .field--name-field-teaser-text {
        font-size: $font-size-minor;
      }

      .field--name-node-link {
        text-align: right;
        margin-top: 10px;

        a {
          @extend %button;
          min-width: 144px;
          font-size: $font-size-minor;
          border-color: $color-bg-dark;
          color: $color-bg-dark;

          &:hover {
            color: $color-copy-inverted;
            background-color: $color-bg-dark;
            border-color: $color-bg-dark;
          }
        }
      }
    }
  }

  &.node--view-mode-updated {
    overflow: hidden;
    margin-bottom: $spacing-default;

    @media screen and (min-width: $break-l) {
      height: 560px;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
    }


    .teaser-header {
      position: relative;

      @media screen and (min-width: $break-l) {
        min-height: 40%;
      }

      .field--name-node-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 25px;
        background-color: rgba($color-bg-gray, .47);
        color: $color-copy-inverted;
        font-weight: 800;
      }

      .field--name-field-teaser-image {
        img {
          display: block;
        }
      }
    }

    .teaser-info {
      padding: 28px 24px 16px 24px;
      background-color: $color-golden-fizz;
      color: $color-blog-teaser;
      font-size: $font-size-big;

      @media screen and (min-width: $break-l) {
        flex-grow: 1;
        position: relative;
      }

      p {
        margin-bottom: 0;
      }

      .field--name-node-link {
        text-align: right;

        a {
          @extend %button;
          min-width: 144px;
          font-size: $font-size-minor;
          border-color: $color-bg-dark;
          color: $color-bg-dark;

          &:hover {
            color: $color-copy-inverted;
            background-color: $color-bg-dark;
            border-color: $color-bg-dark;
          }
        }
      }
    }
  }
}
