.node--type-order {

  &.node--view-mode-full {
    max-width: rem($container-element-width-max);
    width: 100%;
    margin: $spacing-default auto;

    .field {
      margin-bottom: 5px;
      display: flex;

      .field__label {
        width: 120px;
        font-weight: bold;
      }

      &.field--name-field-order-discount {
        clear: both;

        .field__label {
          width: 234px;
        }
      }

      &.field--name-field-order-total-price {
        height: 43px;
        width: 240px;
        justify-content: space-around;
        align-items: center;
        background-color: $color-bg-gray;
        color: $color-copy-inverted;
        float: right;

        .field__label {
          font-weight: normal;
        }

        .field__item {
          font-weight: bold;
        }
      }
    }

    .field--name-dynamic-block-fieldnode-order-firms {
      margin-top: $spacing-minor;

      .views-element-container {
        width: 100%;
      }
    }

    table {
      width: 100%;

      thead {
        font-size: $font-size-minor;
        line-height: $font-size-minor;

        tr {
          background-color: $color-bg-gray;
          color: $color-copy-inverted;

          &:last-child {
            border: none;
          }

          th {
            &:first-child {
              padding-left: $spacing-minor;
            }
          }
        }
      }

      tbody {
        font-size: $font-size-minor;

        tr {

          &:nth-child(n+2) {
            border: none;
          }

          td {
            font-weight: normal;
            padding: 12px 0;

            &:first-child {
              padding-left: $spacing-minor;
            }
          }
        }
      }

      tr > *:nth-child(n+2) {
        padding: 0 $spacing-minor;
      }

      .views-field-order-company-price-with-discount {
        text-align: center;
      }
    }
  }
}
