.node--type-company.node--view-mode-full {
  @extend %layout-container;

  .group-title-buy {
    position: relative;
    padding: $title-bar-vertical-padding $title-bar-horizontal-padding $title-bar-vertical-padding 100px;
    background: $color-titlebar-bg;
    text-align: center;
    line-height: 1;
    color: $color-copy-inverted;

    &.hide {
      display: none;
    }

    .field--name-order-title {
      font-size: 30px;

      .back-to-company-details {
        position: absolute;
        left: 0;
        top: 0;
        width: 70px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-gold-yellow;
        cursor: pointer;

        &::after {
          @include icon('left-dir');
          color: $color-copy;
        }
      }

      > span:last-child {
        color: $color-gold-yellow;
      }
    }
  }

  .group-title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: $title-bar-vertical-padding $title-bar-horizontal-padding;
    background: $color-titlebar-bg;
    line-height: 1;

    &.hide {
      display: none;
    }

    @media screen and (min-width: $break-l) {
      flex-direction: row;
      align-items: center;
    }

    .field--name-node-title {
      color: $color-copy-inverted;
      margin-right: 35px;
      margin-bottom: 8px;

      h3 {
        margin: 0;
        font-size: 24px;
        line-height: 1.2;
      }

      @media screen and (min-width: $break-l) {
        margin-bottom: 0;
      }
    }

    .field--name-field-company-price {
      margin-right: 35px;
      margin-bottom: 8px;
      min-width: 130px;
      font-size: 28px;
      color: $color-gold-yellow;

      @media screen and (min-width: $break-l) {
        margin-bottom: 0;
      }
    }
  }

  .group-content {
    background: $color-copy-inverted;
  }

  .group-desc {
    padding-top: 22px;
    background-color: $color-copy-inverted;

    &.hide {
      display: none;
    }

    > div {
      padding: $spacing-minor  $spacing-default;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: $font-size-large;
      font-weight: 300;

      &:nth-child(odd) {
        background: $color-bg-table-row;
      }

      > div:first-child {

        @media screen and (min-width: $break-m) {
          width: 360px;
          flex: 0 0 360px;
          padding: 15px 0;
        }
      }

      > div:last-child {

        @media screen and (min-width: $break-m) {
          padding: 15px 0 15px 30px;
          flex: 1;
          border-left: 1px solid $color-gold-yellow;
        }
      }

      @media screen and (min-width: $break-m) {
        flex-direction: row;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
      }

      &.field--name-field-company-okved {
        .field__items {
          font-size: $font-size-minor;
        }
      }
    }

    .user--view-mode-compact {
      display: flex;

      .field--name-user-full-name-link {
        margin-right: 10px;
      }

      .field--name-user-raiting {
        font-size: $font-size-minor;

        .starrating {
          font-size: $font-size-default;
        }
      }
    }
  }

  .field--name-order-button {
    margin-top: 30px;
    text-align: center;

    .button {
      padding-top: 23px;
      padding-bottom: 23px;
    }
  }


  .field--name-dynamic-block-fieldnode-buy-company {
    display: none;

    &.show {
      display: block;
    }

    .webform-submission-form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 20px 30px;
      background: $color-white;
      align-items: center;

      > fieldset {
        margin: 0;
        width: 100%;

        legend {
          width: 100%;

          > span {
            display: block;
            text-align: center;
          }
        }
      }

      > div {
        width: 100%;

        @media screen and (min-width: $break-l) {
          &.js-form-item-name,
          &.js-form-item-phone,
          &.js-form-item-vas-email {
            width: 30%;
            position: relative;

            &::before {
              @include icon('user');
              position: absolute;
              left: 10px;
              top: 50%;
              color: #b8b8b8;
              font-size: 40px;
              transform: translateY(-50%);
            }

            input[type=text],
            input[type=email] {
              padding-left: 58px;
            }
          }

          &.js-form-item-phone {
            &::before {
              @include icon('mobile');
            }
          }

          &.js-form-item-vas-email {
            &::before {
              @include icon('email-2');
            }
          }

          input[type=text],
          input[type=email] {
            height: 74px;
            line-height: 74px;
            background: #f4f6f9;
            font-size: 18px;
          }

          &.js-form-item-description {
            position: relative;

            &::before {
              @include icon('forma');
              position: absolute;
              left: 10px;
              top: 50%;
              color: #b8b8b8;
              font-size: 40px;
              transform: translateY(-50%);
            }

            textarea {
              background: #f4f6f9;
              font-size: 18px;
              padding-top: 24px;
              padding-bottom: 24px;
              padding-left: 58px;
            }
          }

          &.captcha {
            width: 50%;
          }

          &.form-actions {
            padding-left: 44px;
            margin: 8px 0 18px;
            width: 50%;

            .button {
              padding-top: 26px;
              padding-bottom: 26px;
            }
          }
        }
      }
    }
  }

  .company-footer.hide {
    display: none;
  }

  .flag-bag {
    text-align: center;
    a {
      @extend %button;
      padding-top: 23px;
      padding-bottom: 23px;
      margin-top: 20px;
    }
  }

}
