.path-business-card {
  > .site-container {
    background: image-url('content/bg-user-page.jpg') no-repeat center top;
  }

  .block-system-main-block {
    padding: 0 $default-padding;

    @include break-l {
      padding: 0;
    }
  }

  .field--name-user-info-top {
    max-width: 720px;
    padding: 0 $page-side-spacing (2 * $spacing-default);
    margin: (2 * $spacing-default) auto 0;
    color: $color-copy-inverted;

    a.button {
      position: relative;
      padding-right: 90px;
      padding-left: 38px;
      font-size: 22px;
      border-color: $color-copy-inverted;
      color: $color-copy-inverted;

      &:hover {
        color: $color-copy;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 50px;
        width: 1px;
        height: 100%;
        background-color: $color-copy-inverted;
      }

      &::after {
        @include icon('right');
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
      }
    }
  }

  .field--name-user-title {
    @extend %element-container;
    @extend %title-center;
    padding-right: $page-side-spacing;
    padding-left: $page-side-spacing;
    margin-bottom: 50px;
  }

  .main-info {
    @extend %element-container;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include break-l {
      flex-direction: row;
    }

    &-left {
      min-width: 460px;
    }

    &-right {
      flex-grow: 1;

      .field--name-field-user-visible-name {
        font-size: 26px;
        font-weight: bold;
        color: $color-title-center;
        margin-bottom: 5px;
      }

      .field--name-user-raiting {
        display: flex;
        flex-wrap: wrap;

        .starrating {
          margin-right: 10px;
        }

        .user-rate-counts {
          font-size: 11px;
          color: $color-title-center;
          align-items: center;
        }
      }

      .field--name-field-user-description {
        margin-top: 10px;
        line-height: 28px;
      }
    }
  }

  .contacts-info {
    @extend %element-container;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    &-left {
      width: 30%;
      padding-right: 20px;
      flex-grow: 1;

      > h4 {
        font-size: 20px;
        font-weight: bold;
        color: $color-title-center;
        margin-bottom: 15px;
      }

      > .field--label-inline {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
        font-size: 19px;
        font-weight: 300;

        &:last-child {
          margin-bottom: 0;
        }

        .field__label {
          display: flex;
          align-items: center;
          margin-right: 4px;

          &::after {
            content: ':';
          }

          &::before {
            width: 40px;
            font-size: $font-size-large;
            color: $color-fuel-yellow;
          }
        }

        .field__item {
          color: $color-rolling-stone;
        }

        &.field--name-field-user-phone .field__label {
          &::before {
            @include icon('telephone');
          }
        }

        &.field--name-field-user-whatsapp .field__label {
          &::before {
            @include icon('whatsapp');
          }
        }

        &.field--name-user-email .field__label {
          &::before {
            @include icon('email');
          }
        }

        &.field--name-field-user-telegram .field__label {
          &::before {
            @include icon('telegram-2');
          }
        }
      }
    }

    &-right {
      width: 70%;
      flex-grow: 1;
      overflow:hidden;
      position:relative;
      min-height: 180px;

      iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }
  }

  .field-group-tabs-wrapper {
    @extend %element-container;
    margin-top: 98px;

    .tab-review {
      padding: 20px 20px 23px 30px;

      > .details-wrapper {
        position: relative;

        .field--name-user-review-link {
          text-align: right;

          .review-link {
            @extend %button;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: $font-size-large;
            color: $color-copy;

            @include break-m {
              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }

        .field--name-dynamic-block-fielduser-reviews {

          > .field__label {
            margin-bottom: 40px;
            font-size: 30px;
          }

          .view-header {
            margin-bottom: 25px;

            > div:first-child {
              font-size: 24px;

              span {
                color: $color-label;
              }
            }
          }

          .views-exposed-form {
            > div {
              display: flex;
              flex-direction: column-reverse;
              justify-content: space-between;

              &:after {
                content: none;
              }

              @include break-l {
                flex-direction: row-reverse;
              }
            }

            fieldset {
              margin: 0;
            }

            fieldset[id^='edit-sort-order-'],
            .form-actions {
              display: none;
            }

            fieldset[id^='edit-sort-by-'] {
              padding-top: 10px;
              width: 380px;

              legend {
                float: left;
                margin-right: 15px;

                &::after {
                  content: ':';
                }
              }

              .form-radios {
                margin: -3px 0 0;

                .form-item {
                  margin-right: 15px;
                }

                label {
                  margin: 0;
                  padding: 0;

                  &:hover {
                    text-decoration: underline;
                  }

                  &::before {
                    content: none;
                  }
                }

                input[type=radio]:checked + label {
                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
          }

          .view-content {
            padding-right: 45px;

            .views-row {

              &:not(:last-child) {
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid $color-gold-yellow;
              }

              .comment-top {
                margin-bottom: 28px;
                display: flex;

                .user-review-status {
                  margin-right: 32px;
                  width: 50px;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  font-size: 34px;
                  color: $color-copy-inverted;
                  background-color: $color-la-palma;
                  border-radius: 50%;

                  &-positive {
                    align-items: center;
                  }

                  &-negative {
                    background-color: $color-raspberry-red;
                  }
                }

                .field--name-field-comment-name {
                  font-size: $font-size-large;
                  font-weight: bold;
                }
              }

              .field__label {
                float: left;
                margin-right: 5px;

                &::after {
                  content: ':';
                }
              }

              .field__item {
                font-weight: 300;
              }

              .field--name-field-comment-limitations,
              .field--name-field-comment-dignity,
              .field--name-field-comment-review {
                margin-bottom: 12px;
              }

              .field--name-comment-post-date {
                color: $color-dusty-gray-2;
                font-size: $font-size-minor;

                &:before {
                  @include icon('calendar');
                  margin-right: 10px;
                }
              }
            }
          }

          .view-empty {
            & + .pager {
              display: none;
            }
          }

          .pager {
            padding-right: 45px;

            > li {
              display: block;
              margin-top: 20px;
              padding-top: 20px;
              border-top: 1px solid $color-gold-yellow;
              text-align: center;
            }
          }
        }
      }
    }

    .tab-user-companies {
      padding: 23px 0 28px;

      .view-content {
        .views-row {
          &:nth-child(odd) {
            background-color: $color-table-bg;
          }
        }
      }

      .pager {
        margin-top: 24px;
        text-align: center;
      }
    }
  }
}
