.user-account-page {
  div[id='block-regportal-content'] {
    max-width: calc(#{$page-width-max} - #{$sidebar-width-close});
    margin: 56px $spacing-default;
  }

  .user--view-mode-full {
    display: flex;
    flex-direction: column;

    @include break-l {
      flex-direction: row;
    }

    .block-profile-user-data {
      margin-bottom: $spacing-default;
      width: 100%;
      background-color: $color-copy-inverted;


      @include break-l {
        max-width: 514px;
        margin-right: $spacing-default;
        margin-bottom: 0;
      }

      > h3 {
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $color-gold-yellow;
        text-align: center;
      }

      &-content {
        padding: 40px 28px;

        > .field {
          &:not(:last-child) {
            margin-bottom: 36px;
          }

          .field__label {
            float: left;
            margin-right: 7px;
            font-weight: bold;

            &::after {
              content: ":";
            }
          }
        }
      }
    }
  }

  .block-order-discounts {
    background-color: $color-copy-inverted;
    flex: 1;

    .block-title {
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: $color-gold-yellow;
      text-align: center;
    }

    .views-field-title {
      width: 300px;
    }

    .views-field-field-order-discount {
      text-align: center;
    }

    .views-element-container {
      padding: 14px 20px 30px;

      .view-content {
        table {
          width: 100%;

          thead {
            font-size: $font-size-minor;
            line-height: $font-size-minor;

            tr {
              background-color: $color-bg-gray;
              color: $color-copy-inverted;

              &:last-child {
                border: none;
              }

              th {
                &:first-child {
                  padding-left: $spacing-minor;
                }
              }
            }
          }

          tbody {
            font-size: $font-size-minor;

            tr {

              &:nth-child(n+2) {
                border: none;
              }

              td {
                font-weight: normal;
                padding: 12px 0;

                &:first-child {
                  padding-left: $spacing-minor;
                }
              }
            }
          }

          tr > *:nth-child(n+2) {
            padding: 0 $spacing-minor;
          }
        }
      }
    }

    .view-empty {
      text-align: center;
    }

    .view-footer {
      display: flex;
      justify-content: flex-end;
    }
    .total-discount {
      height: 43px;
      width: 280px;
      display: flex;
      margin-top: 20px;
      justify-content: space-around;
      align-items: center;
      background-color: $color-bg-gray;
      color: $color-copy-inverted;

      span {
        font-weight: bold;
        font-size: $font-size-big;
      }
    }
  }
}
