.user-orders-page {
  div[id='block-regportal-content'] {
    max-width: calc(#{$page-width-max} - #{$sidebar-width-close});
    margin: 56px $spacing-default;

    .user--view-mode-orders {
      max-width: $orders-width-max;
      margin: 0 auto;
    }
  }

  .user-orders-top-groupt {
    display: flex;
    flex-direction: column;

    @include break-l {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .block-order-page {
    background-color: $color-copy-inverted;
    margin-bottom: 60px;

    &-bag {
      width: 100%;

      @include break-l {
        width: 42%;
      }

      tbody {
        .views-field-field-company-price {
          text-decoration: line-through;
          width: 100px;
        }

        .views-field-company-price-with-discount {

          span[class^='company-status-'] {
            color: $color-raspberry-red;

            & + .price {
              display: none;
            }
          }
          span.company-status-1 {
            display: none;

            & + .price {
              display: block;
            }
          }
        }

        .flag-bag {
          a {
            span {
              display: none;
            }
          }
        }
      }

      .view-footer {
        display: flex;
        flex-wrap: wrap;

        a {
          @extend %button;
          width: 100%;
          height: 43px;
          font-size: 14px;
          background-color: $color-gold-yellow;
          color: $color-copy;

          @include break-m {
            width: auto;
          }

          &:hover {
            background: none;
          }
        }

        .total-section {
          height: 43px;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          background-color: $color-bg-gray;
          color: $color-copy-inverted;

          @include break-m {
            width: 180px;
          }

          span {
            font-weight: bold;
            font-size: $font-size-big;
          }
        }
      }
    }

    &-favorites {
      width: 100%;

      @include break-l {
        width: 50%;
      }

      .views-field-field-company-region {
        text-align: center;
      }

      .view-footer {
        display: flex;
        flex-direction: column;

        @include break-m {
          justify-content: flex-end;
          flex-direction: row;
        }

        a {
          @extend %button;

          width: 100%;
          height: 43px;
          display: flex;
          align-items: center;
          font-size: 14px;
          background-color: $color-gold-yellow;
          color: $color-copy;

          @include break-m {
            width: auto;
          }

          &:hover {
            background: none;
          }

          &.download-favorites {
            margin-right: 10px;
          }

          &.download-favorites,
          &.clear-favorites {
            &::before {
              @include icon('xls');
              font-size: 20px;
              color: $color-copy-inverted;
              margin-right: 15px;
              transition: all $transition-duration-default ease-in-out;
            }

            &:hover {
              &::before {
                color: $color-copy;
              }
            }
          }

          &.clear-favorites {
            background-color: $color-burnt-sienna;
            border-color: $color-burnt-sienna;
            color: $color-copy-inverted;

            &:hover {
              background-color: $color-copy-inverted;
              color: $color-copy;
            }

            &::before {
              @include icon('trash');
            }
          }
        }
      }
    }

    &-orders {

      .views-exposed-form {
        > div {
          > .form-checkboxes {
            display: flex;

            @include break-m {
              align-items: center;
            }

            &::before {
              content: "Фильтр:";
              margin-right: 30px;
              margin-top: -10px;
              font-weight: bold;
            }

            .js-form-type-checkbox {
              @include order-status-color('form-item-field-order-status-value', true);
            }
          }
        }

      }

      .views-field-created {
        width: 150px;
      }

      > .views-element-container {
        .view-content {
          @extend %scrollbar;
          overflow-y: auto;

          tr {
            &.order-main-info {
              cursor: pointer;

              > td {

                &:first-child {
                  padding-left: 28px;
                  position: relative;
                }

                span {
                  @include order-status-color();
                }
              }

              .arrow {
                &::before {
                  @include icon('right');
                  position: absolute;
                  top: 50%;
                  left: $spacing-minor;
                  font-size: 10px;
                  color: $color-copy;
                  font-weight: bold;
                  transform: translateY(-50%);
                  transition: all $transition-duration-max ease-in-out;
                }
              }

              &.open {
                .arrow::before {
                  transform: rotate(90deg) translate(-50%, 0);
                }

                & + .order-companies-info {
                  display: table-row;
                }
              }
            }

            &.order-companies-info {
              display: none;

              > td:first-child {
                width: 100%;
                padding-left: 50px;
                padding-top: 0;
                position: relative;

                .element {
                  &::before {
                    @include icon('right');
                    position: absolute;
                    top: 0;
                    left: $spacing-minor;
                    font-size: 28px;
                    color: $color-copy;
                    font-weight: bold;
                    transform: rotate(135deg) ;
                  }
                }

                table {
                  max-width: 800px;

                  tbody, thead {
                    > tr {

                      & > *:nth-child(n+3) {
                        text-align: center;
                      }
                    }
                  }


                  .views-field-title {
                    width: 40%;
                  }
                }
              }
            }
          }
        }
      }

    }

    &-bag,
    &-favorites {
      .views-element-container {

        .view-content {
          @extend %scrollbar;
          height: 320px;
          overflow-y: auto;
          margin-bottom: 20px;

          .views-field-title {
            width: 200px;
          }

          .views-field-link-flag {
            text-align: right;
          }

          .views-field-field-company-price {
            text-align: center;
            display: none;

            @include break-m {
              display: table-cell;
            }
          }

          .views-field-field-company-region {
            display: none;

            @include break-m {
              display: table-cell;
            }
          }

          .a {

          }
        }
      }
    }

    .block-title {
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: $color-gold-yellow;
      text-align: center;
    }

    .views-element-container {
      padding: 14px 20px 30px;

      .view-content {
        table {
          width: 100%;

          thead {
            font-size: $font-size-minor;
            line-height: $font-size-minor;

            tr {
              background-color: $color-bg-gray;
              color: $color-copy-inverted;

              &:last-child {
                border: none;
              }

              th {
                &:first-child {
                  padding-left: $spacing-minor;
                }
              }
            }
          }

          tbody {
            font-size: $font-size-minor;

            tr {

              &:nth-child(n+2) {
                border: none;
              }

              td {
                font-weight: normal;
                padding: 12px 0;

                &:first-child {

                  @include break-l {
                    padding-left: $spacing-minor;
                  }
                }
              }
            }
          }

          tr > *:nth-child(n+2) {
            padding: 0 $spacing-minor;
          }
        }
      }
    }
  }

  .view-empty {
    text-align: center;
  }
}
