<p>Здравствуйте,</p>
<p>Поступил новый заказ: «{{ order_name }}»<br>
Состоящий из:</p>
<p>
<table class="order-table">
  <thead>
    <tr>
      <th class="text-left">{{ 'Фирма'|t }}</th>
      <th class="text-left">{{ 'ОГРН'|t }}</th>
      <th class="text-center">{{ 'Цена'|t }}</th>
      <th class="text-center">{{ 'Цена со скидкой'|t }}</th>
    </tr>
  </thead>
  <tbody>
  {% for company in companies %}
    <tr>
      <td class="text-left">{{ company.title }}</td>
      <td class="text-left">{{ company.ogrn }}</td>
      <td class="text-center">{{ company.price }}</td>
      <td class="text-center">{{ company.price - discount }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</p>
<p>Посмотреть заказ можно по ссылке: {{ link }}</p>
<p>Тел. {{ phone }}<br>
Е-mail. {{ email }}</p>