<p>Уважаемый, {{ full_name }}</p>
<p>Ваш «{{ order_name }}»<br>
Состоящий из:</p>
<p>
<table class="order-table">
  <thead>
    <tr>
      <th class="text-left">{{ 'Фирма'|t }}</th>
      <th class="text-left">{{ 'ОГРН'|t }}</th>
      <th class="text-center">{{ 'Цена'|t }}</th>
      <th class="text-center">{{ 'Цена со скидкой'|t }}</th>
    </tr>
  </thead>
  <tbody>
  {% for company in companies %}
    <tr>
      <td class="text-left">{{ company.title }}</td>
      <td class="text-left">{{ company.ogrn }}</td>
      <td class="text-center">{{ company.price }}</td>
      <td class="text-center">{{ company.price - discount }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</p>
<p>Поступил в обработку, менеджер свяжется с Вами в течении 15 минут по указанным Вами контактам:</p>
<p>Тел. {{ phone }}<br>
Е-mail. {{ email }}</p>